/*

Theme Name: Biznez Lite

Theme URI: https://sketchthemes.com/free-wp-themes/free-multipurpose-wordpress-theme-for-education/

Author: SketchThemes

Author URI: https://sketchthemes.com/ 

Description: Biznez Lite is a minimal, responsive and Elegant Business theme with easy Admin Options Panel. BizNez Lite is a modern and flexible business and portfolio theme which offers one click install and easy to use Admin Options Panel. Biznez Lite theme can easily be customized according to your needs. You can use own custom logo, logo alt text, custom favicon, add social links, rss feed icon, own copyright text etc. And all this can be easily managed from Biznez Lite Theme Options Panel. BizNez Lite supports widgetized areas, featured images and it is translation ready as well. You can use this to create any type of website be it a business website, a portfolio website, a nonprofit organization website, a landing page, an education website and so no.

Version: 1.0.25

License: GNU General Public License v3.0

License URI: http://www.gnu.org/licenses/gpl-3.0.html

Tags: two-columns, custom-menu, sticky-post, translation-ready,  featured-image-header, featured-images, full-width-template, theme-options, threaded-comments, full-width-template

Text Domain: biznez-lite



Biznez Lite WordPress Theme, Copyright (C) 2013 SketchThemes

Biznez Lite WordPress theme is licensed under the GPL.



This program is free software: you can redistribute it and/or modify

it under the terms of the GNU General Public License as published by

the Free Software Foundation, either version 3 of the License, or

(at your option) any later version.

This program is distributed in the hope that it will be useful,

but WITHOUT ANY WARRANTY; without even the implied warranty of

MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the

GNU General Public License for more details.

You should have received a copy of the GNU General Public License

along with this program.  If not, see <http://www.gnu.org/licenses/>.

--------------------------------------------------------------

WARNING: (BEFORE YOU MAKE ANY CHANGES)

--------------------------------------------------------------

Please do not edit style.css or any other Theme files or 

Templates directly. If you do, your customizations will be lost 

as soon as you update Biznez Lite.

WordPress and SketchThemes highly recommends Child Theme.

Read More:

- http://codex.wordpress.org/Child_Themes  

--------------------------------------------------------------

*/



/*-- Clear Fix Css

-----------------------------*/

.clearfix:after {

content: ".";

display: block;

clear: both;

visibility: hidden;

line-height: 0;

height: 0;

}

.clearfix {

display: inline-block;

}

html .clearfix {

display: block;

}

* html .clearfix {

height: 1%;

}

/*---------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

background: transparent;

border: 0;

margin: 0;

padding: 0;

vertical-align: baseline;

}

object, embed {

max-width: 98%;

}

body {

line-height: 1;

background-color:#ffffff;

}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {

font-weight: normal;

margin-bottom: 20px;

}

ol{

list-style: decimal outside none;

}

ul{

list-style-type: disc;

}

li{

margin-left: 30px;

}

blockquote {

background-color: #D1CFCF;

border-right: 3px solid #A9A9A9;

font-size: 14px;

font-style: italic;

padding: 1.71429rem 1.71429rem 0;

margin-right: 10px;

quotes: none;

}

blockquote cite,

blockquote em,

blockquote i {

font-style: normal;

}

cite{

font-weight: bold;

}

blockquote:before, blockquote:after {

content: '';

content: none;

}

blockquote p {

padding-bottom: 1.71429rem;

}

del {

text-decoration: line-through;

}

/* tables still need 'cellspacing="0"' in the markup */

table {

border-collapse: collapse;

border-spacing: 0;

}

th{

background: #cccccc;; 

}

th,td{

padding:3px 5px;

border: 1px solid #cccccc; 

}

a,img {

border: none;

outline:none;

}

a {

color: #757575;

}

/* =Global Elements

-------------------------------------------------------------- */

hr {

background-color: #e7e7e7;

border: 0;

clear: both;

height: 1px;

margin-bottom: 18px;

}

/* Text elements */

p {

margin-bottom: 18px;

word-wrap: break-word;

-ms-word-wrap: break-word;

}

ul {

list-style: square;

margin: 0 0 18px 1.5em;

}

ol {

list-style: decimal;

margin: 0 0 18px 1.5em;

}

ol ol {

list-style: upper-alpha;

}

ol ol ol {

list-style: lower-roman;

}

ol ol ol ol {

list-style: lower-alpha;

}

ul ul,

ol ol,

ul ol,

ol ul {

margin-bottom: 0;

}

dl {

margin: 0 0 24px 0;

.menu uldisplay: inline-block;

zoom: 1; 

*display: inline;

}

dt {

font-weight: bold;

}

dd {

margin-bottom: 18px;

}

strong {

font-weight: bold;

}

cite,

em,

i {

font-style: italic;

}

big {

font-size: 131.25%;

}

ins {

background: #ffc;

text-decoration: none;

}

pre {border: 1px solid #EDEDED; color: #666666; font-family: Consolas,Monaco,Lucida Console,monospace; font-size: 0.857143rem; line-height: 1.71429; margin: 1.71429rem 0; overflow: auto; padding: 1.71429rem; -webkit-text-size-adjust: 140%; }

abbr,

acronym {

border-bottom: 1px dotted #666;

cursor: help;

}

sup,

sub {

height: 0;

line-height: 1;

position: relative;

vertical-align: baseline;

}

sup {

bottom: 1ex;

}

sub {

top: .5ex;

}

input[type="text"],

textarea {

background: #f9f9f9;

border: 1px solid #ccc;

outline: none;

padding: 2px;

height: 30px;

}

textarea { height:182px;}

select{

max-width: 100%;

}

a:hover,.reply a:hover {

color:#2aacc8;

}

/* Text meant only for screen readers */

.screen-reader-text {

position: absolute;

left: -9000px;

}

/* =@font-face

-------------------------------------------------------------- */

/* =Font-family

-------------------------------------------------------------- */

body{ font-family: 'Open Sans', sans-serif; font-size:12px; line-height: 18px; color:#353535; }

code { font-family:  monospace, serif; }

#header-area img, #content img, .comment img, .widget img { height: auto; }

.float_right{float:right;}

.float_left{float:left;}

/* =Common Area width style

-------------------------------------------------------------- */

.wrapper{ margin: 0 auto; }

#no-sidebar #content{}

/* =left-sidebar content style

-------------------------------------------------------------- */

#left-sidebar #sider-bar{ float:left; }

#left-sidebar #sider-bar{ float:left; }

#left-sidebar #sider-bar #primary,

#left-sidebar #sider-bar #secondary { padding-left: 0; }

#left-sidebar #content{ float:right;padding: 0; }

/* =Header style

-------------------------------------------------------------- */

#header-area{background:none repeat scroll 0 0 transparent;}

#header-area .header-nav-full { background: none repeat scroll 0 0 #E8EBF1; border-bottom:1px solid #d9d9d9;}

#header { padding-top: 20px; }

#top-head  .left-section{ float: left; height: auto; padding-top: 16px; }

#top-head  .right-section{ float: right; margin-top: 7px; }

#logo,#floating_logo a{ font-size: 28px; line-height: 32px; word-wrap: break-word; text-decoration: none; }

.logo_desp  #site-description  {line-height: 29px;clear: right; word-wrap: break-word; float: none; font-style: italic;}

#logo img{ height:37px; width:154px; }

#floating_logo img { height: 37px;width: 154px;}

#header #slider{ margin: 20px auto auto auto; width: 100%; }

/* search 

=======================================*/

.searchform { position: relative; }

.searchform  input[type="text"] { background-color:#f8f8f8; border:none; padding:1px 0px 0px 7px; color:#666; }

.searchform input[type="text"]{ background-color: #F8F8F8; border: 1px solid #CCCCCC; color: #666666; height: 29px; padding: 1px 0 0 7px; width: 93%; }

.searchform input[type="submit"] { background: url("images/search.png") no-repeat scroll 0 0 transparent; border: medium none; cursor: pointer; height: 23px; position: absolute; right: 3px; top: 7px; width: 28px; text-indent: -999999px; font-size:0px; }

.error-search .searchform { background: none repeat scroll 0 0 #F7F7F8; border: 1px solid #DFDDDD; float: left; margin-bottom: 20px; margin-right: 5px; position: relative; width: 210px; }

.error404 #content .searchform input[type="submit"] { border: 0 none; }

.error404 #content .searchform input[type="text"]{ background: none repeat scroll 0 0 #F8F8F8; border: 0 none; }

/* =Navigation Menu

-------------------------------------------------------------- */

.menu_wrapper{ display:inline-block; margin-left:auto; margin-right:auto; width: 100%; }

#floating_logo {float: left;padding: 10px 0px 0px 4px;}

#mainnav{ position: relative;}

.mobile_no{display:none;}

.mobile_no a { text-decoration: none;}

#menu-icon.close { background-image: url("images/menu_close.png"); background-position: 255px center; background-repeat: no-repeat; }

#menu-icon.open { background-image: url("images/menu_open.png"); background-position: 255px center; background-repeat: no-repeat; }

#mini-menu { display: none; }

#skenav{ float: right; position: relative; width: auto; display:block; margin-left:auto; margin-right:auto; border:medium none; z-index:99; }

#mainnav .fixed-menu { border-bottom: 1px solid #CCCCCC; }

#menu-icon{ display:none; text-align: center; cursor: pointer; }

#menu-container #menu-main { margin: 0; }

#mini-menu { background: none repeat scroll 0 0 transparent; display: none; margin: 0; position: absolute; width: 462px; z-index: 99; }

#mini-menu li {   margin: 0px; list-style: none outside none; text-align: center; }

#mini-menu li a { display: block; color: #999999; text-decoration: none; }

#mini-menu li a:hover{color: #2AACC8; }

.menu{ width: 100%; }

.menu ul{ z-index:9; margin: -1px 0 0 3px; padding: 0; list-style-type: none; }

/*Top level list items*/

.menu ul li{ position: relative; display: inline; float: left; margin: 0 10px 9px;}

/*Top level menu link items style*/

.menu ul li a{ display: block; color: #000000; font-size: 14px; font-weight: bold; line-height: 25px; padding: 5px 8px; z-index: 2; text-decoration: none; }

.menu ul li.current_page_item{z-index: 2;}

.menu ul li.current_page_item a{ background: none repeat scroll 0 0 transparent; color: #2AACC8; }

.menu ul li.current_page_item ul  li a{ color: #000000; }

.menu ul li.current_page_item  li a:hover{ color: #2AACC8; }

.menu ul ul li.current_page_item a{ border-top:  medium none; color: #2AACC8; }

.menu ul .children li:first-child  > a { border-top: medium none;}

.menu ul ul li a,

.menu ul ul li a:hover,

.menu ul ul li.menu-item a{ border-top: 1px dotted #CCCCCC; }

* html #skenav.menu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/ display: inline-block; }

.menu ul li.current-menu-ancestor > a,

.menu ul li.current-menu-parent > a { background: none repeat scroll 0 0 #FFFFFF; }

.menu ul li a:hover{ background: none repeat scroll 0 0 #FFFFFF; color: #2AACC8; z-index: 2; }

.menu ul li.item_hover > a{ background: none repeat scroll 0 0 #FFFFFF; z-index: 2; }

/* sub menus */

.menu ul li .sub-menu li{margin:0px;}

.menu ul li ul{ background: none repeat scroll 0 0 #FFFFFF; border-color: #CCCCCC #CCCCCC #49BBDE; border-style: solid; border-width: 1px 1px 4px; display: none; left: -3000px; position: absolute; visibility: hidden; /*collapse all sub menus to begin with*/ visibility: hidden; }

/*Sub level menu list items (alters style from Top level List Items)*/

.menu ul li ul li{ display: list-item; float: none; margin:0;padding: 0 5px; }

/*All subsequent sub menu levels vertical offset after 1st level sub menu */

.menu ul li ul li ul{ top: 0; }

/* Sub level menu links style */

.menu ul .children li:first-child, 

.menu ul .sub-menu li:first-child { border-top-right-radius: 0; padding-top: 1px; }

.menu ul .children li ul ul li:first-child, .menu ul ul li .sub-menu li:first-child{ padding-top: 1px;}

.menu ul.sub-menu li:first-child  > a{ border-top: medium none; }

.menu ul li ul li a{ width: 140px; /*width of sub menus*/ border-top: 1px dotted #CCCCCC; color: #000000; line-height: 24px; padding: 3px 10px; }

.menu ul li ul li.current_page_item a { border-top: 1px dotted #CCCCCC; }

/*.menu ul li ul li a:hover{border-top: 1px dotted #CCCCCC;}*/

/* Holly Hack for IE \*/

* html .menu{height: 1%;} /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{ background: url("images/drop-arrow.png") no-repeat scroll left center transparent; height: 10px; position: absolute; right: 7px; top: 13px; width: 10px; }

.rightarrowclass{ background: url("images/arrow_read.png") no-repeat scroll left center transparent; height: 10px; position: absolute; right: 7px; top: 12px; width: 10px; }

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ position: absolute; left: 0; top: 0; width: 0; height: 0; /* generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */ }

.toplevelshadow{ margin: 5px 0 0 5px; /* in NON CSS3 capable browsers gives the offset of the shadow */ opacity: 0.8; /* shadow opacity mostly for NON CSS3 capable browsers. Doesn't work in IE */ }

.ddcss3support .ddshadow.toplevelshadow {

margin: 0; /* in CSS3 capable browsers overrides offset from NON CSS3 capable browsers, allowing the box-shadow values in the next selector to govern that */

/* opacity: 1; */ /* optionally uncomment this to remove partial opacity for browsers supporting a box-shadow property which has its own slight gradient opacity */

}

.ddcss3support .ddshadow {

background-color: transparent;

}

.normal-menu #menu-container{padding-right:0px;}

.fixed-menu #menu-container{padding-right:4px;}

/* =#Slider

-------------------------------------------------------------- */

.slider-full { background: none repeat scroll 0 0 #81E4ED; padding-top: 20px; height:462px; overflow: hidden; position: relative; }

/* =#front page

-------------------------------------------------------------- */

/* =#front page

-------------------------------------------------------------- */

.front-page-box { background: none repeat scroll 0 0 #E8EBF1; border-bottom: 1px solid #D9D9D9; padding-bottom: 51px; padding-top: 59px; }

.box-container{ text-align: center; margin-left: 58px; }

.box-container1{ margin-left: 4px; padding: 0; }

.box-title{ float: left; font-family: Droid Serif; font-size: 20px; font-weight: normal; left: 16px; position: relative; top: 9px;width:80%; text-align: left; }

.box-img{ padding: 0 0 0 0px; margin-top: 10px; }

.font-icon-first:before{ content: "\e0ef"; float: left; color: #FFFFFF; float: left; font-family: 'Elusive-Icons'; font-size: 32px; position: relative;  top: 10px; left:5px }

.font-icon-first { background: none repeat scroll 0 0 #2AACC8; border-radius: 100px 100px 100px 100px; float: left;  height: 22px;   padding: 0 0 17px;  width: 40px;  }

.font-icon-second:before{ content: "\e0b8";color: #FFFFFF; float: left; font-family: 'Elusive-Icons'; font-size: 21px; left: 9px;  position: relative;  top: 11px;}

.font-icon-second { background: none repeat scroll 0 0 #2AACC8; border-radius: 100px 100px 100px 100px; float: left;  height: 22px;   padding: 0 0 17px;  width: 40px; }

.font-icon-third:before{ content: "\e107"; color: #FFFFFF; float: left; font-family: 'Elusive-Icons'; font-size: 21px; left: 9px;  position: relative;  top: 11px;}

.font-icon-third { background: none repeat scroll 0 0 #2AACC8; border-radius: 100px 100px 100px 100px; float: left;  height: 22px;   padding: 0 0 17px;  width: 40px; }

.font-icon-fourth:before{ content: "\e023"; color: #FFFFFF; float: left; font-family: 'Elusive-Icons'; font-size: 21px; left: 9px;  position: relative;  top: 11px;}

.font-icon-fourth { background: none repeat scroll 0 0 #2AACC8; border-radius: 100px 100px 100px 100px; float: left;  height: 22px;   padding: 0 0 17px;  width: 40px; }

.box-img > img { float: left; height: 40px; width: 40px;	 border-radius: 100px 100px 100px 100px; }

.box-text { padding: 5px 0; text-align: left; }

.readmorebtn a:before{ content: "\e0cc"; font-family: 'Elusive-Icons'; font-size: 7px; padding-right: 3px; position: relative; top: -1px;}

.readmorebtn a{ display: block; float: left;text-decoration: none; }

/* Center Front Box content

------------------------------------------------------*/

.front-icon-wrap { margin: 0 auto; width: 100%; }

.front-img-wrap { margin: 0 auto; width: 100%; }

.center-font-icon-first:before{color: #FFFFFF; content: "\e0ef";  font-family: 'Elusive-Icons';font-size: 61px;}

.center-font-icon-first { background: none repeat scroll 0 0 #2AACC8;}

.center-font-icon-second:before{color: #FFFFFF; content: "\e0b8";  font-family: 'Elusive-Icons'; }

.center-font-icon-second { background: none repeat scroll 0 0 #2AACC8;  }

.center-font-icon-third:before{color: #FFFFFF; content: "\e107"; font-family: 'Elusive-Icons';}

.center-font-icon-third { background: none repeat scroll 0 0 #2AACC8;}

.center-font-icon-fourth:before{color: #FFFFFF; content: "\e023"; font-family: 'Elusive-Icons'; }

.center-font-icon-fourth { background: none repeat scroll 0 0 #2AACC8; }

.front-icon-wrap span { background: none repeat scroll 0 0 transparent; display: block; font-size: 44px; line-height: 44px; margin-top: 28px; }

.front-img-wrap {background: none repeat scroll 0 0 #2AACC8; border: 3px solid #2AACC8; border-radius: 50% 50% 50% 50%; height: 150px; width: 150px;}

.front-img-wrap img { border-radius: 50% 50% 50% 50%; height: 150px; width: 150px;}

.front-icon-wrap { background: none repeat scroll 0 0 #2AACC8; border: 3px solid #0B9CBC; border-radius: 50% 50% 50% 50%; height: 100px; width: 100px; }

.front-img-wrap img:hover { opacity: 0.5;filter: alpha(opacity=50);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";-khtml-opacity: 0.5; transition: all 500ms ease 0s;-webkit-transition: all 500ms ease 0s;  -moz-transition: all 500ms ease 0s; -ms-transition: all 500ms ease 0s; -o-transition: all 500ms ease 0s;}

.front-icon-wrap img {border: none; border-radius: 85px 85px 85px 85px; height: 150px; width: 150px; }

.box-title-center { font-family: Droid Serif; font-size: 20px; font-weight: normal; text-align: center; padding: 10px 0 6px; }

.box-text-center{  padding: 5px 0; text-align: center;}

.readmorebtn-center { margin: 0 auto; width: 50%; }

.readmorebtn-center a:before{ content: "\e0cc"; font-family: 'Elusive-Icons'; font-size: 7px; padding-right: 3px; position: relative; top: -1px;}

.CallToAction-bg{ background: none repeat scroll 0 0 transparent; border: 1px solid #81E4ED; font-family:Droid Serif; font-size: 15px; overflow: hidden; padding: 29px 0 29px 27px; position: relative; text-align: left; }

.callaction-opt { background: none repeat scroll 0 0 #81E4ED; height: 100%; left: 0; opacity: 0.3; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";  filter: alpha(opacity=30);  -moz-opacity: 0.3;  -khtml-opacity: 0.3; position: absolute; top: 0; width: 985px; }

.CallToAction h3{ margin: 0px !important; color:#363636; font-size:17px; }

.CallToActionbtn { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background-color: #2aacc8; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 2px 1px rgba(255,255,255,.1); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 2px 1px rgba(255,255,255,.1); box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(255, 255, 255, 0.4) inset; border: solid 1px #2aacc8; background-image: -webkit-linear-gradient(bottom, #2aacc8, #60cede 15%, #72dae6 50%, #81e4ed); background-image: -moz-linear-gradient(bottom, #2aacc8, #60cede 15%, #72dae6 50%, #81e4ed); background-image: -o-linear-gradient(bottom, #2aacc8, #60cede 15%, #72dae6 50%, #81e4ed); background-image: -ms-linear-gradient(bottom, #2aacc8, #60cede 15%, #72dae6 50%, #81e4ed); background-image: linear-gradient(to top, #2aacc8, #60cede 15%, #72dae6 50%, #81e4ed); display: block; height: 43px; padding-top: 19px; width: 230px; }

.CallToActionbtn a:before {transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; color: #FFFFFF; content: "\e0c3"; font-family: elusive-icons; margin-right: 12px; }

.CallToActionbtn a{	color:#FFFFFF;font-size: 18px; font-weight: bold; display: block; text-align: center; padding-bottom: 5px;text-decoration: none; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s;  }

.CallToActionbtn a:hover{ color: #000000 !important;text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; }

.CallToActionbtn a:hover:before{ color: #000000;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; }

#content_row{ margin-top: 35px; margin-bottom: 35px; }

/* meta box

------------------------------------------*/

.video-container iframe { width: 100%; }

.citation_post{ margin-bottom: 25px; position: relative; }

/**** Clients ****************/

#clients{ float:right }

#clients .clients-right{ text-align: justify; }

#clients .clients-right .client-icon.titleimg:before { content: "\e091"; font-family: 'Elusive-Icons'; font-size: 27px; position: relative;top: 4px; }

#clients .clients-right h3 span.titleimg { color:#2AACC8; display: inline-block; height: 28px; margin-right: 16px; padding-left: 0; width: 28px; }

#clients .clients-right .clients-right > h3{ background: url("images/clientsimg.png") no-repeat scroll left center transparent;padding-left: 40px;}

#clients .clients-logo > ul { margin: 0;}

#clients .clients-logo ul li{  border:1px solid #E8EBF1;float: left; height: 101px; list-style-type: none; margin: 0; width: 160px; }

#clients .clients-logo a { display: block; height: 80%; padding-top: 20px; position: relative; width: 100%; }

#clients .clients-logo img { display: block; margin: 0 auto; position: relative; -webkit-transition: all 0.4s linear 0s; -moz-transition: all 0.4s linear 0s; -o-transition: all 0.4s linear 0s; -ms-transition: all 0.4s linear 0s; transition: all 0.4s linear 0s; width: 64px; }

#clients .clients-logo img:hover { transform: scale(1.3, 1.3); -ms-transform:scale(1.3, 1.3); -moz-transform:scale(1.3, 1.3); -webkit-transform:scale(1.3, 1.3); -o-transform:scale(1.3, 1.3); -webkit-transition: all 0.4s linear 0s; -moz-transition: all 0.4s linear 0s; -o-transition: all 0.4s linear 0s; -ms-transition: all 0.4s linear 0s; transition: all 0.4s linear 0s; }

/****jcarousellite****************/

.front_clients.jcircal { height: 364px; }

.front_clients {overflow: hidden;margin-top: 30px;}

.latest-icon.titleimg:before { color: #2AACC8; content: "\e10d"; font-family: Elusive-Icons; font-size: 23px;  position: relative; top: 2px;}

.front_clients h2 span.titleimg { color:#2AACC8; display: inline-block; font-size: 21px; height: 26px; margin-right: 12px; padding-left: 0; width: 28px; }

.front_clients h2 { font-size: 22px; }

.jCarouselLite-bg { border-bottom: 1px solid #DFE1E5; border-top: 1px solid #DFE1E5; margin: 12px auto 20px; padding: 8px 0 8px; position: relative; }

#skt-slider{margin:0 auto;}

.skt-slide{float:left;position:relative;overflow:hidden;list-style:none;cursor: pointer; display: table-cell; margin: 32px 5px 26px 8px; vertical-align: middle; border: 1px solid #2AACC8; width:234px !important; }

.skt-slide img{ height: 162px; width: 236px;}

.skt-slide-controls{position:absolute;}

.skt-slide-controls a{position:absolute;}

.skt-slide-controls a.skt-prev-slide{background: url("images/previous.png") repeat scroll 0 0 #2AACC8;cursor: pointer;height: 28px; right: 30px; top: -277px; width: 28px;text-indent: -9999999px;font-size:0px;} 

.skt-slide-controls a.skt-next-slide{background: url("images/next.png") repeat scroll 0 0 #2AACC8;cursor: pointer; right: 0px; height: 28px; top: -277px; width: 28px;text-indent: -9999999px;font-size:0px;} 

.jCarouselLite { margin: 0 auto; width: 100% !important; overflow: hidden; *position:relative; }

.jCarouselLite-bg #mycarousel{margin:0px; overflow:hidden;visibility:hidden;height:222px;}

#mycarousel .skt-slide a > img { float: left; height: 162px; width: 236px; }

#mycarousel .slider-portfolio div.orbit-wrapper{ }

#mycarousel .slider-portfolio { width: 234px; }

#mycarousel .slider-portfolio img { height: 162px; }

#mycarousel .slider-portfolio .orbit-bullets li { height: 7px; margin: 0 0 0 5px; width: 7px !important; }

.jcircal .jCarouselLite-bg {  height: 296px;}

.jcircal .portfolio-gallery-slider { height: 236px !important; }

.jcircal #mycarousel .skt-slide a > img { float: left; height: 236px; width: 236px;  }

.jcircal .jCarouselLite ul li { border-radius: 80% 80% 80% 80%; -webkit-border-radius: 80%;  -moz-border-radius: 80%; overflow: hidden; position: relative; }

.jcircal .video-link-box a{left:29%;}

.jcircal #mycarousel .skt-slide .slider-portfolio img{width: 236px; height: 236px;overflow:hidden;}

.jcircal #mycarousel .skt-slide .slider-portfolio {width: 236px;overflow:hidden; position: relative;}

.jcircal div.timer{width:0px;height:0px;}

.jcircal .skt-slide-controls a.skt-prev-slide{top: -350px;} 

.jcircal .skt-slide-controls a.skt-next-slide{top: -350px;} 

/* = front Testimonial

-------------------------------------------------------------- */

.front_testimonials{}

.front_testimonials h3, .clients-right h3 { font-size: 22px;}

.testmonial-icon.titleimg:before { content: "\e0a3"; font-family: 'Elusive-Icons'; font-size: 25px;position: relative;top: 4px; }

.front_testimonials h3 span.titleimg{ color: #2AACC8; display: inline-block; font-size: 18px; height: 28px; margin-right: 16px; padding-left: 0; width: 28px; }

#content_row .front_testimonials ul{ list-style: none outside none; margin:0px; }

#quote_wrap > li { margin-left: 0; }

.testimonialWraper .testimonial { padding: 20px 0px; position: relative; }

#quote_wrap .testimonialWraper .testimonial p { font-family: Georgia, serif; font-size: 18px; font-style: italic; line-height: 1.5; position: relative; margin: 0; }

.testimonialWraper .testimonial p:before { content: open-quote; font-size: 72px; float: left; margin-right: 15px; display: block; float: left; margin-top: -24px; height: 30px; }

.testimonialWraper .testifier { float: left; }

.testimonialWraper .testifier p:first-child { font-size: 17px; font-family: Georgia, serif; }

.testimonialWraper .testifier p { margin: 0 !important; font-size: 12px; line-height: 20px; }

/* =#Siderbars

-------------------------------------------------------------- */

#sider-bar{ float: right; }

#siderbar{ float: right; }

#sider-bar #search{ float:none; }

#primary,

#secondary { overflow: hidden; padding-left: 25px; }

#secondary { clear: right; }

.widget-container .wp-smiley {

width: auto;

}

.widget-container img {

max-width: 100%;

}

/* =skt-breadcrumb style

-------------------------------------------------------------- */

.skt-breadcrumb { float: right;position: relative; right: 0; text-align: right; top: 15px;} 

.skt-breadcrumb a{display: inline-block;text-decoration: none;}

.skt-breadcrumb  .cont_nav_inner p { margin: 0; }

#content .skt-breadcrumb  .cont_nav_inner p { margin: 0; }

.skt-breadcrumb  span.brd_arr{ background: url("images/ber-arrow.png") no-repeat scroll center center transparent; display: inline-block; height: 16px; position: relative; top: 4px; width: 20px;*display:inline;zoom:1; margin-left: 6px;} 	

/* =Content Structure style

-------------------------------------------------------------- */

.archive .skt-breadcrumb,.error404 .skt-breadcrumb,.search .skt-breadcrumb,.blog .skt-breadcrumb,.woocommerce .skt-breadcrumb{top:0px;}

@media screen and (-webkit-min-device-pixel-ratio:0){.page-template-template-sitemap-php .skt-breadcrumb{top:0px;}}

#container { background:#FFFFFF; padding-bottom:40px;  position: relative;}

#content { float: left; word-wrap: break-word;-ms-word-wrap: break-word; }

#content{ color: #353535 ; font-size: 13px; line-height: 21px; }

#content input,

#content textarea { color: #353535 ; font-size: 13px; line-height: 21px; border: 1px solid #B6B9C2; }

#content input:focus,

#content textarea:focus { border: 1px solid #2AACC6;}

#content textarea {	width:500px;}

#content p, #content ul, #content ol, #content dd, #content pre, #content hr { margin-bottom: 24px; word-wrap: break-word;-ms-word-wrap: break-word; }

#content ul ul, #content ol ol, #content ul ol, #content ol ul { margin-bottom: 0; }

#content pre, #content kbd, #content tt, #content var { font-size: 15px; line-height: 21px; }

#content code { font-size: 13px; }

#content dt, #content th { color: #000; }

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 { color: #000; line-height: 1.5em; margin: 0 0 10px 0; font-family: Droid Serif; }

#content table { border: 1px solid #e7e7e7; margin: 0 -1px 24px 0; text-align: left; width: 100%; }

#content tr th, #content thead th { color: #888; font-size: 12px; font-weight: bold; line-height: 18px; padding: 9px 24px; }

#content tr td { border-top: 1px solid #e7e7e7; padding: 6px 24px; }

#content tr.odd td { background: #f2f7fc; }

#content .post { border-bottom: 1px solid #E7E7E7; margin: 0 0 45px 0px; padding:0; }

.post-tags { margin: 20px 0 7px; padding: 3px 10px 3px 0px; }

.post-tags a {}

.post-tags a:hover { color: #30B7FF; }

.hentry { margin: 0 0 8px 0; }

.sticky { margin-left: -20px; margin-right: -20px; padding: 18px 20px; }

.single .hentry { margin: 0 0 36px 0; }

.pagetitle-wrap { border-bottom: 1px solid #DFE1E5; padding-bottom: 14px; margin:13px 0 38px;  }

.page-title { color: #000; font-size: 21px; font-weight: bold; word-wrap: break-word; -ms-word-wrap: break-word; }

.page-title span { color: #000; font-size: 16px; font-weight: normal; font-weight: bold;text-transform: capitalize; }

.page-title a, .page-title a:visited { color: #000; text-decoration: none; }

.page-title a:active, .page-title a:hover { color: #000; }

#content .entry-title { color: #000; font-size: 21px; font-weight:normal; line-height: 1.3em; margin-bottom: 22px; }

#content .type-post .entry p { line-height: 1.71429;margin: 0 0 1.71429rem; }

.entry iframe { max-width: 100%;}

/*******post meta ************/

.post .entry{ margin-bottom: 30px;  margin-top: 30px;}

.page .entry{ margin-top: 0px;}

.entry-title a { text-decoration: none; }

.entry-title a:active, .entry-title a:hover { color: #2aacc8; word-wrap: break-word;-ms-word-wrap: break-word;}

.entry-meta { color: #888; font-size: 10px; }

.category-name > a { display: inline-block; }

.entry-meta abbr, .entry-utility abbr { border: none; }

.entry-meta abbr:hover, .entry-utility abbr:hover { border-bottom: 1px dotted #666; }

.entry-content, .entry-summary { clear: both; padding: 12px 0 0 0; }

#content .entry-summary p:last-child { margin-bottom: 12px; }

.entry-content fieldset { border: 1px solid #e7e7e7; margin: 0 0 24px 0; padding: 24px; }

.entry-content fieldset legend { background: #fff; color: #000; font-weight: bold; padding: 0 24px; }

.entry-content input { margin: 0 0 24px 0; }

.entry-content input.file, .entry-content input.button { margin-right: 24px; }

.entry-content label { color: #888; font-size: 12px; }

.entry-content select { margin: 0 0 24px 0; }

.entry-content sup, .entry-content sub { font-size: 10px; }

.entry-content blockquote.left { float: left; margin-left: 0; margin-right: 24px; text-align: right; width: 33%; }

.entry-content blockquote.right { float: right; margin-left: 24px; margin-right: 0; text-align: left; width: 33%; }

.page-link { color: #000; font-weight: bold; margin: 0 0 22px 0; word-spacing: 0.5em; }

.page-link a{ background: #f1f1f1; color: #333; font-weight: normal; padding: 0.5em 0.75em; text-decoration: none; }

.home .sticky .page-link a { background: #d9e8f7; }

body.page .edit-link { clear: both; display: block; }

#entry-author-info { background: #f2f7fc; border-top: 4px solid #000; clear: both; font-size: 14px; line-height: 20px; margin: 24px 0; overflow: hidden; padding: 18px 20px; }

#entry-author-info #author-avatar { background: #fff; border: 1px solid #e7e7e7; float: left; height: 60px; margin: 0 -104px 0 0; padding: 11px; }

#entry-author-info #author-description { float: left; margin: 0 0 0 104px; }

#entry-author-info h2 { color: #000; font-size: 100%; font-weight: bold; margin-bottom: 0; }

.author-name:before { color: #898989; content: "\e013"; font-family: Elusive-Icons; font-size: 16px; margin-right: 8px; }

.author-name {border-bottom: 2px solid #2AACC8; padding-bottom: 9px; padding-right: 5px; }

.date-time:before { color: #898989; content: "\e10b"; font-family: Elusive-Icons; font-size: 16px; margin-right: 8px; }

.date-time{ padding-bottom: 5px; }

.comment:before { color: #898989; content: "\e106"; font-family: elusive-icons; font-size: 16px; margin-right: 10px; }

.comment{ margin-left:5px;padding-bottom: 5px;}

.entry-utility { clear: both; font-size: 12px; line-height: 18px; }

.entry-meta a,

.entry-utility a { color: #000; text-decoration: none;}

.entry-meta a:hover,

.entry-utility a:hover { color: #30B7FF; }

#content .video-player { padding: 0; }

.blog .post .post-image,.archive .post .post-image { margin-bottom:0px; position: relative; }

.post-image { margin-bottom: 25px; position: relative; }

.post-image  img{ border: 1px solid #2AACC8;}

#content  .post-image img{width:100%}

.readmore a:hover {color: #666666;}

.readmore a {color: #30B7FF;text-decoration: none;}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )

-------------------------------------------------------------- */

code { 	-webkit-text-size-adjust: 160%; }

.entry-meta,

.entry-utility{ color:#000; margin:7px 0; padding:2px 0 7px; border-bottom:2px solid #E2E2E2; }

#site-description { -webkit-text-size-adjust: none; }

/* About page

-----------------------------------------*/

.page-template-template-about-page-php .post .entry{margin-bottom:0px;}

/* Flikr Widget

----------------------------------------------*/

.widget-container.flickrimg li:before { content: "";}

.widget-container.flickrimg li {float: left;border:3px solid #e2e2e2;margin:3px 2px;padding:2px; height: 65px;width:65px;transition: all .5s linear 0s;-webkit-transition: all .5s linear 0s;	-moz-transition: all .5s linear 0s;	-o-transition: all .5s linear 0s;	-ms-transition: all .5s linear 0s;}

.widget-container.flickrimg li:hover{border:3px solid #30B7FF;transition: all .5s linear 0s;-webkit-transition: all .5s linear 0s;	-moz-transition: all .5s linear 0s;	-o-transition: all .5s linear 0s;	-ms-transition: all .5s linear 0s;}

.widget-container.flickrimg img {width:65px;}

.widget-container.flickrimg a {   padding: 0;}

#footer .widget-container > ul.flickrimgs {margin-right: 0;}

/* Social icon Widget

------------------------------------------------*/

.widget-container .follow-icons li{font-family: 'Elusive-Icons';float:left;background:none;border:none;padding:0px;margin-right: 10px;margin-bottom:16px;}

.widget-container.widget_archive li a, .widget-container.widget_categories li a {   display: inline-block; zoom: 1; *display: inline;}

.widget-container .follow-icons li a{padding:0px;display:block;}

.widget-container .follow-icons li:before{content:'';}

.social li a:before { color: #B5B5B5;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;	-moz-transition: all 1s ease 0s;	-o-transition: all 1s ease 0s;	-ms-transition: all 1s ease 0s; }

.follow-icons li:hover{background:none;}

.linkedin-icon a:before{ content: "\e081";}

.facebook-icon a:before{  content: "\e09c";}

.twitter-icon a:before{  content: "\e018";}

.flickr-icon a:before{ content: "\e100"; }

.gplusicon-icon a:before{  content: "\e0fc";}

.skype-icon a:before{  content: "\e037"; }

.youtube-icon a:before{ content: "\e002";}

.wordpresse-icon a:before{ content: "\e005"; }

.dribble-icon a:before{ content: "\e0c2"; }

.pinterest-icon a:before{ content: "\e05f"; }

.vimeo-icon a:before{ content: "\e00e"; }

.deviantart-icon a:before{ content: "\e0c6"; }

.tumblr-icon a:before{ content: "\e019"; }

.stumbleupon-icon a:before{ content: "\e02a"; }

.picasa-icon a:before{ content: "\e061"; }

.friendfeed-icon a:before{ content: "\e0b9"; }

.slideshare-icon a:before{ content: "\e036"; }

.behance-icon a:before{ content: "\e0d2"; }

.github-icon a:before{ content: "\e0b6"; }

.reddit-icon a:before{ content: "\e050"; }

.foursquare-icon a:before{ content: "\e0bb"; }

.digg-icon a:before{ content: "\e0c5"; }

.delicious-icon a:before{ content: "\e0c7"; }

.vk-icon a:before{ content: "\e10e"; }

.instagram-icon a:before{ content: "\e088"; }

/*.whatsapp-icon a:before{ content: "\e003"; }*/

.social li a:hover:before,.teamsocial li span:hover:before{color:#2AACC8}

/* Team member

---------------------------------------------*/

.team-container { margin-left: 26px; padding: 15px 9px; margin-bottom: 30px; position:relative; }

.row-member { margin-bottom: 20px; }

#content .team-container img.memberimg{ border: 3px solid #EEEEEE;border-radius: 50% 50% 50% 50%;height: 180px;transition: all 1s linear 0s;width: 180px;z-index: 0; }

#content .team-container img.memberimg :hover{border-color: #AAAAAA;transition: all 1s linear 0s;}

.teammember-wrap{ position:relative; display:block; } 

.teammember-wrap canvas, .teammember-wrap > img {border: 3px solid #EEEEEE;border-radius: 50% 50% 50% 50%;z-index: 1;}

.member-avatar { margin: 0 auto; position: relative; width: 180px; }

.member-data { text-align: center; }

.member-name { font-size: 18px; margin: 25px 0 3px; }

.member-name a ,.tooltip{ text-decoration: none; }

.member-position { color: #999999; font-size: 12px; margin: 0 0 10px; }

#content .teamsocial { display: inline-block; margin: 0 auto; width: 32%; }

.teamsocial li { float: left; font-family: 'Elusive-Icons'; list-style-type: none; margin-left: 12px; font-size: 17px; }

.teamsocial li span:before { color: #C4C4C4; transition: all 1s ease 0s; }

.teamsocial li:first:child{ margin-left: 0px;}

.team-fb:before {content: "\e09c"; }

.team-tw:before { content: "\e018"; }

.team-drb:before { content: "\e0c2"; }

/* sitemap 

-----------------------------------------*/

#site_map .title { color: #000000; font-size: 19px; font-weight: bold; margin-bottom: 10px; }

.sitemap-first.sitemap-rows { float: left; width: 48%; }

.sitemap-second.sitemap-rows { float: left; margin-left: 15px; width: 48%; }

#site_map li { list-style-type: none; margin-left: 0; display: block; }

#site_map li:before { content: "\e0cc"; font-family: elusive-icons; font-size: 7px; padding-right: 4px; position: relative; top: -2px; }

#site_map li:hover:before { color: #2AACC8;}

#site_map li a{ display:inline-block;}

/* =Portfolio style

-------------------------------------------------------------- */

.page-template-template-project-page-php #content .post{padding:0px;}

.page-template-template-project-page-php .page-title{ padding-bottom: 5px; padding-top: 6px;}

.project_image {	background: none no-repeat scroll center center #2aacc8; display: inline-block; overflow: hidden;  position: relative; }

#content .project_image a img{max-width:240px\9;}

.link-box{ display: block; height: 37px; position: absolute; top:-400px; width:100%; z-index: 99; }

.link-post{ cursor: pointer; display: block; float: left; height: 30px; margin-right: 10px; transition: all 1s ease 0s; -moz-transition: all 1s ease 0s; /* Firefox 4 */ -webkit-transition: all 1s ease 0s; /* Safari and Chrome */ -o-transition: all 1s ease 0s; /* Opera */ position: absolute; left:33%; width: 30px; }

.link-post:hover{ border-radius: 50px 50px 50px 50px; transition: all 1s ease 0s; -moz-transition: all 1s ease 0s; /* Firefox 4 */ -webkit-transition: all 1s ease 0s; /* Safari and Chrome */ -o-transition: all 1s ease 0s; /* Opera */ }

.link-post a:before { background-color: #333333; border: 3px solid transparent; border-radius: 3px 3px 3px 3px; color: #FFFFFF; content: "\e045"; font-family: 'Elusive-Icons'; font-size: 19px; left: 1px; padding: 5px; position: relative; transition: all 1s ease 0s; }

.link-post a:hover:before { border: 3px solid #FFFFFF; border-radius: 50px 50px 50px 50px; transition: all 1s ease 0s; }

.jCarouselLite-bg .link-post a:before{}

.link-post a { display: block; height: 100%; width: 100%; text-decoration: none; }

.zoom-img{ cursor: pointer; display: block; float: left; height: 30px; margin-left: 10px; transition: all 1s ease 0s; -moz-transition: all 1s ease 0s; /* Firefox 4 */ -webkit-transition: all 1s ease 0s; /* Safari and Chrome */ -o-transition: all 1s ease 0s; /* Opera */ position: absolute; right:33%; width: 30px; }

.zoom-img:hover{ border-radius: 50px 50px 50px 50px; transition: all 1s ease 0s; -moz-transition: all 1s ease 0s; /* Firefox 4 */ -webkit-transition: all 1s ease 0s; /* Safari and Chrome */ -o-transition: all 1s ease 0s; /* Opera */ }

.zoom-img a:before { background-color: #333333; border: 3px solid transparent; border-radius: 3px 3px 3px 3px; color: #FFFFFF; content: "\e060"; font-family: 'Elusive-Icons'; font-size: 19px; left: 0; padding: 5px; position: relative; transition: all 1s ease 0s; -moz-transition: all 1s ease 0s; /* Firefox 4 */ -webkit-transition: all 1s ease 0s; /* Safari and Chrome */ -o-transition: all 1s ease 0s; /* Opera */ }

.zoom-img a:hover:before { border: 3px solid #FFFFFF; border-radius: 50px 50px 50px 50px; transition: all 1s ease 0s; }

.video-container .zoom-img a:before {    content: "\e012";}

.jCarouselLite-bg .zoom-img a:before{  }

.zoom-img a { display: block; height: 100%; width: 100%; text-decoration: none; }

/* =Footer Style

-------------------------------------------------------------- */

#footer-area{ background: none repeat scroll 0 0 #E8EBF1; border-top: 1px solid #D9D9D9; padding-top: 20px; }

#footer { margin-bottom: 0px; }

.footerborder{ border-top: 2px groove #A09D9D; }

#footer-area .bottom_wrapper { padding-bottom: 20px; padding-top: 20px; font-size: 13px; }

#footer-area .bottom_wrapper .owner { float: right; line-height: 20px; text-align: right; color: #222222; }

#site-info { color: #222222; }

#site-info a { color:#525252; text-decoration:none; font-weight:normal; }

#site-info a:hover , #footer-area .bottom_wrapper .owner  a:hover{ text-decoration: underline; }

/* Structure the footer widget area */

#foot-sidebar { margin-bottom: 15px; }

#footer-widget-area { overflow: hidden; }

#footer-widget-area .widget-area { float: left; margin-left: 8px; }

#footer-widget-area  #first { margin-left: 0px; }

#footer .widget-container > ul{ margin-right: 40px; }

#footer .widget-area a:active,

#footer .widget-area a:hover { text-decoration: none; }

#foot-sidebar .widget-container ul li{ margin-left:0px; list-style-type: none;}

#foot-sidebar .menu ul li.current_page_item a{ background: none ; border-top: none; }

#foot-sidebar .menu ul li.current-menu-ancestor > a,

#foot-sidebar .menu ul li.current-menu-parent > a { background: none ; border-top: none; }

#foot-sidebar .menu ul li a:hover{ background: none ; border-top: none; }

#foot-sidebar .menu ul li.item_hover > a{ background: none ; border-top: none;}

a#backtop:before{color: #FFFFFF; content: "\e0cb"; display: block; font-family: 'Elusive-Icons'; font-size: 18px; margin-top: 10px; text-align: center;}

a#backtop { background:none no-repeat scroll 0 0 #2AACC8; border-radius: 45px 45px 45px 45px; bottom: 40px; height: 38px; position: fixed; right: 15px; text-decoration: none; width: 38px; z-index: 9999; }

/* =Asides

-------------------------------------------------------------- */

.home #content .category-asides p { font-size: 13px; line-height: 20px; margin-bottom: 10px; margin-top: 0; }

.home .hentry.category-asides { padding: 0; }

.home #content .category-asides .entry-content { padding-top: 0; }

/* =Gallery listing

-------------------------------------------------------------- */

.category-gallery .size-thumbnail img { border: 10px solid #f1f1f1; margin-bottom: 0; }

.category-gallery .gallery-thumb { float: left; margin-right: 20px; margin-top: -4px; }

.home #content .category-gallery .entry-utility { padding-top: 4px; }

.attachment-gallery-wrap .gallery{ display: none; }

.zoombox > img { float: left; }

/* =Attachment pages

-------------------------------------------------------------- */

.attachment .entry-content .entry-caption { font-size: 140%; margin-top: 24px; }

.attachment .entry-content .nav-previous a:before { content: '\2190\00a0'; }

.attachment .entry-content .nav-next a:after { content: '\00a0\2192'; }

/* = prettyPhoto

---------------------------------------------------------------*/

.post-image span { background: url("images/zoom-bg.png") repeat scroll center center #2AACC8; height: 271px; left: 1px; opacity: 0; position: absolute; width: 100%; z-index: 10; }

.lightbox  span { background:url("images/zoom-bg.png") repeat scroll center center #2AACC8; height: 138px; left: 5px; opacity: 0; position: absolute; top: 6px; width: 96%; z-index: 10; }

/* =Images

-------------------------------------------------------------- */

#content img { margin: 0; height: auto; max-width: 100%; }

#content .attachment img { max-width: 900px; }

#content .alignleft,

#content img.alignleft { display: inline; float: left; margin-right: 24px; margin-top: 4px; }

#content .alignright,

#content img.alignright { display: inline; float: right; margin-left: 24px; margin-top: 4px; }

#content .aligncenter,

#content img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

#content img.alignleft,

#content img.alignright,

#content img.aligncenter { margin-bottom: 12px; }

#content .wp-caption { background: none repeat scroll 0 0 #EAEAEA; border-radius: 5px 5px 5px 5px; line-height: 18px; margin-bottom: 20px; max-width: 100%; text-align: center; }

#content .wp-caption img { max-width: 95%; padding: 2.5% 2.5% 0; }

#content .wp-caption p.wp-caption-text { color: #888; font-size: 12px; font-style: italic; margin: 0; padding: 0.9em 0; }

#content .wp-smiley { margin: 0; }

#content .gallery { margin: 0 auto 18px; }

#content .gallery img { border: 2px solid #cfcfcf; }

#content .gallery .gallery-caption { color: #888; font-size: 12px; margin: 0 0 12px; }

#content .gallery dl { margin: 0; }

#content .gallery br+br { display: none; }

#content .attachment img { /* single attachment images should be centered */ display: block; margin: 0 auto; }

/* =Navigation

-------------------------------------------------------------- */

.navigation { color:#888888; font-size:14px; font-weight:bold; line-height:18px; overflow:hidden; margin: 10px 0; }

.navigation a:link,

.navigation a:visited { color: #000; text-decoration: none; }

.navigation a:active,

.navigation a:hover { color: #000; }

.nav-previous { float: left; width: 50%; }

.nav-next { float: right; text-align: right; width: 50%; }

#nav-above { margin: 0 0 18px 0; }

#nav-above { display: none; }

.paged #nav-above,

.single #nav-above { display: block; }

#nav-below { margin: -18px 0 0 0; }

/* =Comments

-------------------------------------------------------------- */

#comments { clear: both; }

#comments .navigation { padding: 0 0 18px 0; }

h3#comments-title,

h3#reply-title { color: #000; font-size: 20px; font-weight: bold; margin-bottom: 0; }

h3#comments-title { padding: 24px 0; }

.commentlist { list-style: none; margin: 0; }

.commentlist .alt{ background-color:#F5F5F5; margin-bottom:15px; padding-bottom:1px; }

.commentlist .alt p{}

.commentlist p{ padding:0px 10px; }

.commentlist blockquote p {   padding-bottom: 1.71429rem;}

.commentlist .comment-body { float: none; }

.commentlist .comment:before{content:'';}

.commentlist .comment:after{content:'';}

.commentlist li.comment {width: 100%; border-bottom: 1px solid #e7e7e7; background: none repeat scroll 0 0 transparent; line-height: 24px; margin: 0 0 24px 0; padding: 0 0 0 56px; position: relative; }

.commentlist li:last-child { border-bottom: none; margin-bottom: 0; }

#comments .comment-body ul,

#comments .comment-body ol { margin-bottom: 18px; }

#comments .comment-body p:last-child { margin-bottom: 6px; }

#comments .comment-body blockquote p:last-child { margin-bottom: 24px; }

.commentlist ol { list-style: decimal; }

#content .commentlist .avatar { position: absolute; top: 4px; left: 0;height:32px;width:32px; }

.comment-author { }

.comment-author cite { color: #000; font-style: normal; font-weight: bold; }

.comment-author .says { font-style: italic; }

.comment-meta { font-size: 12px; margin: 0 0 18px 0; }

.comment-meta a,

.comment-meta a:visited { color: #888; text-decoration: none; }

.commentlist .even { }

.commentlist .bypostauthor { }

.reply { font-size: 12px; padding: 0 0 24px 0; }

.reply a,

a.comment-edit-link { color: #888; }

.reply a:hover,

.commentlist .children { list-style: none; margin: 0; }

.commentlist .children li { border: none; margin: 0; }

.nopassword,

.nocomments { display: none; }

#comments .pingback { border-bottom: 1px solid #e7e7e7; margin-bottom: 18px; padding-bottom: 18px; }

.commentlist li.comment+li.pingback { margin-top: -6px; }

#comments .pingback p { color: #888; display: block; font-size: 12px; line-height: 18px; margin: 0; }

#comments .pingback .url { font-size: 13px; font-style: italic; }

/* Comments form */

input[type=submit] { color: #333; }

#content #respond { border-top: 1px solid #E7E7E7; color: #000000; margin-bottom: 0; overflow: hidden; padding: 10px 0; position: relative }

#content.full-width-page #respond form{width: 70%;}

.comments-template{ border-top:1px solid #E7E7E7; }

#comments{ 	color:#000000; font-size:20px; margin-bottom:0; padding:10px 0; }

.commentmetadata{ margin:7px 0; padding:2px 10px; }

.commentmetadata a{ text-decoration:none; }

.skepost-meta a{ display: inline-block; }

#respond p { margin-bottom: 1.8em; }

#respond .comment-notes { margin-bottom: 1em; }

.form-allowed-tags { line-height: 1em; }

.children #respond { margin: 0 48px 0 0; }

h3#reply-title { margin: 0; }

#comments-list #respond { margin: 0 0 18px 0; }

#comments-list ul #respond { margin: 0; }

#cancel-comment-reply-link { font-size: 12px; font-weight: normal; line-height: 18px; }

#respond .required { font-weight: bold; }

#respond label { color: #888;}

#respond input { margin: 0 0 9px; width: 93%; }

#respond textarea { width: 93%; }

#respond .form-allowed-tags { color: #888; font-size: 12px; line-height: 18px; }

#respond .form-allowed-tags code { font-size: 11px; }

#respond .form-submit { margin: 12px 0; }

#respond .form-submit input { background: none repeat scroll 0 0 #2AACC8; border: 1px solid #2AACC8; border-radius: 8px 8px 8px 8px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(255, 255, 255, 0.1) inset; color: #000000; font-family: open sans; font-size: 16px; font-weight: bold; padding: 8px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); width: auto; cursor: pointer; }

/* =Widget Areas

-------------------------------------------------------------- */

.widget-area ul { list-style: none; margin-left: 0; }

.widget-area ul ul { list-style: square outside none; margin-left:0px; }

.widget-container li:before { content: "\e0cc"; float: left; font-family: 'Elusive-Icons'; font-size: 7px;font-family: 'Elusive-Icons'; line-height: 19px; }

.widget-container li{  border-bottom: 1px dotted #C7C7C7; list-style-type: none; margin: 0; padding: 6px 0 6px 0px; }

.widget-container li a { display: block; padding-left: 12px; text-transform: capitalize; text-decoration: none;}

.widget-container  .menu ul li{ display: block; float: none; margin: 0; position: relative; }

.widget-container .menu ul li a{ display: inline; font-weight: normal; line-height: 18px;font-size: 12px; }

.widget-container .menu ul li.current_page_item a{ background: none ; border-top: none; }

.widget-container .menu ul li.current-menu-ancestor > a,

.widget-container .menu ul li.current-menu-parent > a { background: none ; border-top: none; }

.widget-container .menu ul li a:hover{ background: none ; border-top: none; }

.widget-container .menu ul li.item_hover > a{ background: none ; border-top: none;}

.widget-container li ul li{ border:none;}

.widget-container li:hover{ color: #2AACC8 ; }

.widget_tag_cloud a { background: none repeat scroll 0 0 #2D2D2D; border-radius: 6px 6px 6px 6px; color: #FFFFFF; display: inline-block; font-size: 12px !important; margin-bottom: 5px; padding: 6px 10px; transition: all 1s linear 0s; }

.widget_tag_cloud a:hover { background: none repeat scroll 0 0 #aaf0ff; color: #2D2D2D; transition: all 1s linear 0s; }

.widget_search label { display: none; }

.widget-container { margin: 0px 0 40px 0; }

.widget-title { border-bottom: 2px solid #E2E2E2; font-weight: normal; margin-bottom: 10px;font-family: Droid Serif; }

.widget-title .title-border { border-bottom: 2px solid #2AACC8; bottom: -2px; display: inline-block; height: 100%; padding-bottom: 5px; position: relative; }

.widget-area a:active,

.widget-area a:hover { text-decoration: none; }

.widget-area .entry-meta { font-size: 11px; }

#wp_tag_cloud div { line-height: 1.6em; }

#wp-calendar { width: 100%; }

#wp-calendar caption { color: #525252; font-size: 14px; font-weight:normal; padding-bottom: 4px; text-align: left; }

#wp-calendar thead { font-size: 11px; }

#wp-calendar thead th { font-weight:normal }

#wp-calendar tbody { color: #aaa; }

#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #CCCCCC; padding: 3px 0 2px; text-align: center; }

#wp-calendar tbody .pad { background: none repeat scroll 0 0 #FFFFFF; }

#wp-calendar tfoot #next { text-align: right; }

.widget_rss a.rsswidget { color: #000; }

.widget_rss .widget-title img { width: 11px; height: 11px; }

/******** twitter widget ***********/

#twitter_update_list li:before{content: "\e018";  font-size: 13px;}

#twitter_update_list span { display: block; margin-left: 20px; }

#twitter_update_list li{ padding: 12px 0 12px 0px;}

/********* search sidebar **********/

#search{ float:right; height:55px; }

#search input[type="text"]{ -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1) inset; background:none repeat scroll 0 0 #545454; border:0 solid #CCCCCC; padding:3px; color:#D7D7D7; float:left; margin-right:10px; }

#search input[type="submit"] { background-color:#393939; border:0 none; color:#D7D7D7; height:20px; width:60px; }

/*********social_icon**************/



/*********NOTIFICATION BAR*********/

#notificationbar { width: 100%; display: none; top: 0; position: fixed; left: 0; height: auto; z-index: 9999; }

.wrapper-notifi { width: 95%; position: relative; left: 0; padding: 5px 0; height: auto; }

.notifi-color { color: #fff;  }

.notification-content { text-align: center; }

.notification-close {float: right; color: #fff; position: relative; background-color: #03D570; margin: 0; height: 45px; width: 45px; padding: 0; text-align: center; line-height: 45px !important; font-size: 30px !important; z-index: 9; }

.notification-close:hover { cursor: pointer; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }

.noti-push { display: none; }



/*****************Paginate*****************/

/* =Contact Page

-------------------------------------------------------------- */

#content #contact-page{font-size:13px; position:relative;}

.page-template-contact-page-php #content  .post{ border:none;}

#content #contact-page .input{ margin-bottom: 15px; width: 480px; }

#content #contact-page .textarea{ clear:both; margin-bottom: 15px; }

#content .contact-add  iframe{  border: 3px solid #30B7FF;margin-bottom: 10px; overflow: hidden; position: relative; width: 367px; } 

#content #map{ border: 5px solid #FFFFFF; height: 190px; margin: auto auto 42px; overflow: hidden; position: relative; width: 290px; }

#content .mapwrap span { display: block; font-weight: bold; margin-bottom: 16px; margin-left: 11px; margin-top: 16px; position: relative; }

.add-title { color: #000000; font-size: 15px; font-weight: bold; margin-bottom: 10px; text-transform: uppercase; }

.contact-add { color:#363636; }

#content #contact-page .fill{ height:22px; margin-bottom: 34px; margin-top: 20px; font-size: 22px; }

#contact-page span.wpcf7-not-valid-tip{ display: none !important; }

#content #contact-page form .wpcf7-form-control.wpcf7-not-valid{ border: 1px solid red; }

.wpcf7-quiz-label {display: block;}

#content #contact-page form input[type="text"],#content #contact-page form input[type="email"],

#content #contact-page form input[type="url"],#content #contact-page form input[type="tel"],

#content #contact-page form input[type="number"],#content #contact-page form input[type="range"],

#content #contact-page form input[type="date"],#content #contact-page form input[type="file"]

{ background: none repeat scroll 0 0 transparent; border: 1px solid #B6B9C2; height: 30px; padding: 4px; margin: 5px 0 0; width: 471px; }

#content #contact-page form select

{ background: none repeat scroll 0 0 transparent; border: 1px solid #B6B9C2; height: 30px; padding: 4px; margin: 5px 0 0; width: 482px; }

#content #contact-page form input[type="text"]:focus,#content #contact-page form input[type="email"]:focus,

#content #contact-page form input[type="url"]:focus,#content #contact-page form input[type="tel"]:focus,

#content #contact-page form input[type="number"]:focus,#content #contact-page form input[type="range"]:focus,

#content #contact-page form input[type="date"]:focus,#content #contact-page form input[type="file"]:focus

{ border: 1px solid #2aacc6;}

#content #contact-page form textarea{ background: none repeat scroll 0 0 transparent; border: 1px solid #B6B9C2; height: 182px; padding: 4px; margin-top: 5px; width: 471px; }

#content #contact-page form textarea:focus{ border: 1px solid #2aacc6;}

#content #contactform  p{  margin-bottom: 0px; }

.sub-icon-opt:before { color: #FFFFFF; content: "\e0f1"; font-family: elusive-icons; font-size: 24px; }

.sub-icon-opt { height: 24px; left: 13px; position: relative; top: 36px; width: 24px; }

#content #contact-page form input[type="submit"]{ background-color: #2AACC8; background-image: linear-gradient(to top, #2AACC8, #60CEDE 15%, #72DAE6 50%, #81E4ED); border: 1px solid #2AACC8; border-radius: 8px 8px 8px 8px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(255, 255, 255, 0.1) inset; color: #000000; cursor: pointer; font-family: open sans; font-size: 20px; font-weight: bolder; height: 40px; margin: 0; padding: 0px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); width: 100px; }

.feature_image { border: 1px solid #CCCCCC; box-shadow: 0 5px 5px -3px #222222; }

/*-- Gallery page

----------------------------------------------*/

.attachment-gallery-wrap { float: left; margin: 0; }

.attachment-gallery-wrap li { float: left; list-style: none outside none; margin: 0 9px 15px; padding: 2px; position: relative; }

.feature_image span { background: url("images/zoom-bg.png") repeat scroll center center #2AACC8; height: 166px; left: 2px; opacity: 0; position: absolute; width: 212px; z-index: 10; }

.slider-link-box .over-color { background: #2AACC8;}

.attachment-gallery-wrap li a { display: block; }

.attachment-gallery-wrap li a img {	

}

/***************pagenavi************/

.pagenavi { float: left; padding: 5px 0; width: auto; }

.pagenavi a,

.pagenavi span.current,

.pagenavi .single_page,

.pagenavi span.pages { border-radius: 15px 15px 15px 15px; color: #000; display: block; float: left; font-size: 15px; height: 29px; line-height: 29px; margin: 0 5px 0 0; padding: 0; text-align: center; text-decoration: none; vertical-align: middle; width: 29px; }

.pagenavi a:hover,

span.current:hover { background: none repeat scroll 0 0 #000000; color: #81E4ED; cursor: pointer; text-decoration: none; }

.pagenavi span.pages { padding: 0 10px; width: auto; }

.pagenavi span.current { background: none repeat scroll 0 0 #000000; color: #81E4ED; }

.pagenavi span.expand { float: left; margin: 0 5px 0 0; color: #000000; }

.pagenavi .first, .pagenavi .last { }

.pagenavi .single_page { }

/* =Print Style

-------------------------------------------------------------- */

@media print {

body { background: none !important; }

#wrapper { clear: both !important; display: block !important; float: none !important; position: relative !important; }

#header { border-bottom: 2pt solid #000; padding-bottom: 18pt; }

#colophon { border-top: 2pt solid #000; }

#site-title,

#site-description { float: none; line-height: 1.4em; margin: 0; padding: 0; }

#site-title { font-size: 13pt; }

.entry-content { font-size: 14pt; line-height: 1.6em; }

.entry-title { font-size: 21pt; }

#access,

#branding img,

#respond, .comment-edit-link, .edit-link, .navigation, .page-link, .widget-area { display: none !important; }

#container, #header, #footer { margin: 0; width: 100%; }

#content, .one-column #content { margin: 24pt 0 0; width: 100%; }

.wp-caption p { font-size: 11pt; }

#site-info, #site-generator { float: none; width: auto; }

#colophon { width: auto; }

img#wpstats { display: none; }

#site-generator a { margin: 0; padding: 0; }

#entry-author-info { border: 1px solid #e7e7e7; }

#main { display: inline; }

.home .sticky { border: none; }

}

/* Media screen */

@media handheld, only screen and (min-width: 1024px) {

.menu-icon{ display:none; }

.mini-menu{ display:none !important; }

}

/****************max-width: 960px**************/

@media only screen and (min-width: 768px) and (max-width: 960px) {

h1.post_title.single { width:505px; }

.content-bar .post .post_content img.postimg { max-width:93%; }

.content-bar img { max-width:498px; height:auto; }

.box-container { margin: 0 18px; }

.font-icon-first, .font-icon-second, .font-icon-third, .font-icon-fourth { float: right; left: -52px;  position: relative;}

.box-img { margin-bottom: 10px;  margin-top: 10px;  padding: 0;}

.box-title { right: auto;text-align: center;  left: auto; width: 100%;}

.one_half, .one_third, .two_third, .one_fourth, .three_fourth{margin-right:0px;}

.box-text { text-align: center;}

.readmorebtn {  margin-left: 0;  text-align: center;}

.readmorebtn a {  float: none;}

.readmorebtn a:before {top:-1px;}

.box-img img{ position: relative; right: -53px;}

.front-img-wrap img{position: relative; right:auto;}

.jCarouselLite { margin: 0 auto; width: 91% !important; }

.jCarouselLite ul li { width: 152px !important; }

#mycarousel .skt-slide a > img { height: 128px; width: 152px; }

#mycarousel .skt-slide .slider-portfolio { width: 152px; }

.skt-slide-controls a.skt-next-slide {top: -242px; right: -53px;}

.skt-slide-controls a.skt-prev-slide {top: -242px; right: -25px;}

#front-gallery-slider.portfolio-gallery-slider { height: 129px !important; }

.jcircal .jCarouselLite-bg {  height: 261px;}

.jcircal #mycarousel .skt-slide a > img { height: 195px; width: 208px; }

.jcircal .jCarouselLite ul li { width: 206px !important; }

.jcircal .skt-slide-controls a.skt-next-slide {left: 700px;top: -305px;}

.jcircal .skt-slide-controls a.skt-prev-slide {left: 671px;top: -305px;}

.jcircal .link-post { left: 31%; }

.jcircal .zoom-img { right: 34%; }

.jcircal #mycarousel .skt-slide .slider-portfolio { width: 213px; }

.jcircal #front-gallery-slider.portfolio-gallery-slider { height: 195px !important; }

.jcircal #mycarousel .skt-slide .slider-portfolio img { height: 198px; }

.link-post{left: 25%;}

.zoom-img{ right: 27%;}

.CallToActionbtn { padding:8px 0; }

.CallToActionbtn a { font-size: 16px; }

.post-image img { width: 463px; }

#content .wp-caption { width: 499px !important; }

#content .wp-caption img { width: 484px; }

.attachment-gallery-wrap li{ margin: 0 13px 15px; }

.menu-icon{ display:none; }

.mini-menu{ display:none !important; }

.menu ul li{ margin: 0 7px 9px;}

.menu ul li a{ padding: 5px 8px;}

.fixed-menu .skenav-mid{width: 740px !important;}

.fixed-menu #menu-container {width: 540px !important;}

/* Center Front Box content

------------------------------------------------------*/

.front-icon-wrap span { margin-left: 0px; }

/* Contact

--------------------------------------------*/

#content #contact-page form input[type="text"],#content #contact-page form input[type="email"],#content #contact-page form input[type="url"],#content #contact-page form input[type="tel"],

#content #contact-page form input[type="number"],#content #contact-page form input[type="range"],

#content #contact-page form input[type="date"],#content #contact-page form input[type="file"]{ width: 436px;}

#content #contact-page form select{width: 447px; }

#content #contact-page form textarea{  width: 435px;}

/* Entry

-----------------------------------*/

.author-name{ padding-right: 6px;}

.date-time{ margin-left: 12px; padding-right: 8px;}

.comment{margin-left: 12px;}

/* Team member

-----------------------------*/

.team-container{ margin-left: 16px;}

#content .teamsocial{ width: 45%;}

#footer-widget-area .twitter-timeline{min-width:165px !important;max-width:85% !important;}

}

/****************max-width: 767px**************/

@media only screen and (max-width: 767px) {

#header{margin-bottom:0px;}

#left-section { text-align:center; margin: 40px 0 21px 0px; }

#top-head .right-section{float:none;}

#top-head .left-section { float: left; text-align: center; }

#top-head .right-section{margin-top:0px;}

#menu li { float:none !important; }

#left-section { text-align:center; }

.box-container{ padding-left: 0px; margin-left :0px; }

.box-img { padding: 0 0 0 155px; text-align: center; }

.box-text { padding: 5px 0; text-align: center; }

.readmorebtn { margin-left: 212px; }

.slider-full { height: 460px; }

.jCarouselLite { margin: 0 auto; width: 81% !important; height: 130px; }

.jCarouselLite ul li { cursor: pointer; display: table-cell; margin: 0 5px 0 10px; vertical-align: middle; width: 170px !important; }

#mycarousel .skt-slide a > img { float: left; height: 128px; width: 171px; }

.skt-slide-controls a.skt-prev-slide{right: auto;top: -77px;}

.skt-slide-controls a.skt-next-slide{left: 437px;top: -76px;right: auto;}

.link-post{left: 28%;}

.zoom-img{ right: 28%;}

.sidebar { padding-left:0; padding-top:40px; max-width:100%; }

.content-bar .post .post_content img.postimg { max-width:93%; }

h1.post_title.single { width:471px; text-align:center; }

.content-bar img { max-width:470px; height:auto; }

#clients .clients-logo > ul {margin: 0;width: 69%;}

.CallToActionbtn{width: 93% !important;margin-top: 9px;}

#container-isotop{margin-left: 90px;}

.skt-breadcrumb {float: none;position: absolute;right: 0;text-align: center;top: 44px; }

/* navigation

-------------------------------------*/

#mainnav{ background: url("images/mobilemenubg.png") repeat-x scroll 0 0 transparent; float: none; height: 31px; margin: 0 auto; width: 264px; }

#menu-icon.close { background-image: url("images/menu_close.png"); background-position: 242px 7px;; background-repeat: no-repeat; color: #FFFFFF; }

#menu-icon.open { background-image: url("images/menu_open.png"); background-position: 242px 7px;; background-repeat: no-repeat; color:#FFFFFF; }

#menu-icon { width: 264px ;display: block;  padding-top: 5px; }

#mini-menu { background: url("images/navibottomimg.png") no-repeat scroll center bottom #1D1E1E; border-radius: 0 0 5px 5px; display: none; left: 0px; list-style-type: none; margin: 0; padding-bottom: 19px; position: absolute; top: 31px; width: 264px;opacity:.9; }

ul#mini-menu li { list-style-type: none; margin-left: 0; text-align: center; }

ul#mini-menu li a{ border-bottom: 1px solid #070808; border-top: 1px solid #5E5E5E;line-height: 28px; text-decoration: none; }

ul#mini-menu li a:hover { background: none repeat scroll 0 0 #141515; }

ul#mini-menu li ul.sub-menu{margin:0px;}

ul#mini-menu li ul li a:hover { background: none repeat scroll 0 0 #141515; }

#skenav,#menu-container{ display:none; }

#mini-menu { display:none; }

.menu_wrapper { border-radius: 5px; padding: 4px 0; }

/* entry

-----------------------------------*/

.author-name{ border-bottom: medium none; }

.page-title{ padding-bottom: 8px; text-align: center;}

.skt-breadcrumb{float:none;  text-align: center;}

/* sidebar

------------------------------------------*/

#siderbar .widget-title{text-align: center;}

#sider-bar .widget-title{text-align: center;}

.post-image img { width: 462px; }

#content .wp-caption { width: 462px !important; }

#content .wp-caption img { width: 451px; }

#content #contact-page form textarea{ background: none repeat scroll 0 0 transparent; width: 444px; }

#content #contact-page form input[type="text"],#content #contact-page form input[type="email"],#content #contact-page form input[type="url"],#content #contact-page form input[type="tel"],

#content #contact-page form input[type="number"],#content #contact-page form input[type="range"],

#content #contact-page form input[type="date"],#content #contact-page form input[type="file"]{ width:435px;}

#content #contact-page form select{width: 446px; }

.address-area { text-align: center; }

.preview.attachment-gallery-wrap { float: none; margin: 0 auto !important; width: 475px; }

/* Footer 

-----------------------------------------*/

#footer .widget-title{ text-align:center;}

#site-info { text-align: center; }

#footer-area .bottom_wrapper .owner { float: right; line-height: 20px; text-align: center; }

}

/****************max-width: 480px**************/

@media only screen and (max-width: 480px) {

#content .post-image img{height:auto !important;}

.post-image span{height: 179px;}

#header{margin-bottom:0px;}

#top-head .left-section{padding-top:0px;}

#top-head .right-section{float:none;}

#content textarea { width: 246px; }

.font-icon-first,.font-icon-second,.font-icon-third,.font-icon-fourth{float:none;display:block; margin: 0 auto;}

.box-img { padding: 0 0 0 0px; text-align: center; }

.box-text { padding: 5px 0; text-align: center; }

.box-title{ left: auto;text-align: center;width: 100%;margin: 9px 0 7px; top: auto;}

.readmorebtn { margin-left: 119px; }

.clients-logo { padding-left: 37px; }

.CallToAction-bg{ padding:29px 9px 29px 18px;}

.sidebar { padding-left:0; padding-top:40px; max-width:100%; }

.content-bar .post .post_content img.postimg { max-width:93%; }

h1.post_title.single { width:292px; text-align:center; }

.content-bar img { max-width:292px; height:auto; }

.jCarouselLite-bg{ padding: 4px 0;}

#mycarousel .skt-slide a > img { float: left; height: 128px; width: 199px; }

#mycarousel .skt-slide .slider-portfolio { width: 199px; height: 128px; }

#mycarousel .skt-slide .slider-portfolio img { height: 128px; }

.front_clients.jcircal { height: 217px;}

.jcircal #front-gallery-slider.portfolio-gallery-slider { height: 158px !important; }

.jcircal #mycarousel .skt-slide .slider-portfolio img { height: 158px; width: 158px; }

.jCarouselLite { margin: 0 auto; width: 77% !important;  height: 130px !important; }

.jCarouselLite ul li { cursor: pointer; display: table-cell; margin: 0 5px 0 10px; vertical-align: middle; width: 199px !important; }

.jcircal .jCarouselLite-bg,.jcircal .jCarouselLite { height: 160px;;}

.jcircal .jCarouselLite ul li { margin: 0 33px; width: 153px !important; }

.jcircal #mycarousel .skt-slide a img{height: 158px; width: 158px;}

.jcircal .project_image{box-shadow:none;}

.jcircal .video-link-box a{left:23%;}

.jcircal .link-post {left: 24%;}

.jcircal .zoom-img { right: 28%;}

.jcircal #mycarousel .skt-slide .slider-portfolio{  height: 158px;  width: 158px;}

.jcircal .skt-slide-controls a.skt-prev-slide{top: -95px;}

.jcircal .skt-slide-controls a.skt-next-slide{top: -95px;}

.skt-slide-controls a.skt-prev-slide{ position: absolute; left: 0;top: -75px;}

.skt-slide-controls a.skt-next-slide{left: 262px;;position: absolute; top: -75px;}

.box-container{ padding-left: 0px; margin-left :0px; }

#clients .clients-logo > ul {margin: 0;width: 99%;}

.CallToActionbtn{width:75% !important;margin-top: 9px;}

.CallToAction {  text-align: center;padding-top: 10px;}

.CallToActionbtn{ margin-top: 6px;padding-left: 5px;}

.CallToAction-bg{padding:0px;}

.CallToActionbtn.grid_6 { margin: 11px 34px; padding: 10px 0 10px 13px; width: 200px; }

.CallToActionbtn > a:before{margin-right: 6px;}

.CallToActionbtn a {color: #000000 !important; display: block; font-size: 18px;padding-top: 7px; font-weight: bold; padding-bottom: 5px; text-align: center; }

.clients-logo{padding-left:0px;}

#clients{margin-top: 16px;}

#clients .clients-logo ul li{width:138px;background: none no-repeat scroll 0 0 transparent;}

.front_clients h2,.front_testimonials h3, .clients-right h3,.testimonialWraper .testimonial { text-align: center;}

.testimonialWraper .testifier { float: none;   text-align: center; }

/* entry  

----------------------------------------*/

#content {}

#content .post {  clear: both;  padding: 0;}

.pagetitle-wrap{padding-bottom:39px;}

.page-title{ padding-bottom: 8px; text-align: center;word-wrap:break-word;}

.skt-breadcrumb{float:none;  text-align: center;}

.entry-meta, .entry-utility {  clear: both; float: left;}

.author-name{ border-bottom: medium none; float: left;   margin-bottom: 10px; padding-bottom: 0;}

.comment { float: left;  margin-right: 10px;   margin-top: 12px;}

.date-time{ margin-bottom: 10px;}

/* sidebar

------------------------------------------*/

#siderbar{}

#sider-bar{padding-right:13px;}

#primary, #secondary{padding-left:0px}

#siderbar .widget-title{text-align: center;}

#sider-bar .widget-title{text-align: center;}

/*= Navigation Menu

-------------------------------------------*/

#header-area .header-nav-full{ height: 150px;}

#mainnav { background: url("images/mobilemenubg.png") repeat-x scroll 0 0 transparent; border-radius:0; float: none; height: 45px; margin: 0 auto; width: 277px; }

.mobile_no {display:block;text-align: center;font-weight: bold; padding: 8px 0;}

#skenav,#menu-container{ display:none; }

#mini-menu { display:none; }

#menu-icon{ display: block; padding-top: 15px; width:100; height: 67%; }

#menu-icon.close { background-position:30px 15px; }

#menu-icon.open { background-position:30px 15px; }

#mini-menu { background: url("images/navibottomimg.png") no-repeat scroll center bottom #1D1E1E; border-radius: 0 0 5px 5px; display: none; left: 0px; list-style-type: none; margin: 0; padding-bottom: 19px; position: absolute; top: 45px; width: 277px; opacity:.9; }

ul#mini-menu li { list-style-type: none; margin-left: 0; text-align: center; }

ul#mini-menu li a{ border-bottom: 1px solid #070808; border-top: 1px solid #5E5E5E;line-height: 28px; }

ul#mini-menu li a:hover { background: none repeat scroll 0 0 #141515; }

ul#mini-menu li ul.sub-menu{margin:0px;}

ul#mini-menu li ul li a:hover { background: none repeat scroll 0 0 #141515; }

form#contactform .mail-sent{ margin-left: -4px !important; }

#site-info { color: #055592; text-align: center; }

#footer-area .bottom_wrapper .owner { float: right; line-height: 20px; text-align: center; }

.post-image img { width: 100%; }

#content .wp-caption { width: 274px !important; }

#content .wp-caption img { width: 264px; }

.preview.attachment-gallery-wrap { float: none; margin: 0 auto !important; padding-left: 28px; width: 265px; }

/* Center Front Box content

---------------------------------------*/

.front-icon-wrap span {   margin-left: 0px; }

.box-img.icon-center{padding:0px;}

.archive .skt-breadcrumb, .error404 .skt-breadcrumb, .search .skt-breadcrumb, .blog .skt-breadcrumb, .woocommerce .skt-breadcrumb {

top: auto;bottom:13px;}

/* About

---------------------------------------*/

.team-container{margin-left:0px;padding: 0;}

/* contact page

---------------------------------------*/

#content #contact-page .input { 	margin-bottom: 0; 	width: 170px; }

#content #contact-page form input[type="text"],#content #contact-page form input[type="email"],#content #contact-page form input[type="url"],#content #contact-page form input[type="tel"],

#content #contact-page form input[type="number"],#content #contact-page form input[type="range"],

#content #contact-page form input[type="date"],#content #contact-page form input[type="file"]{  width: 200px;  height:15px;  background:none; }

#content #contact-page form select{width: 211px; }

#content #contact-page form textarea { background: none repeat scroll 0 0 transparent; height: 80px; vertical-align: top; width:200px; }

.address-area { text-align: center; }

/* Footer 

-----------------------------------------*/

#footer-widget-area #first,#footer-widget-area #second,#footer-widget-area #third,#footer-widget-area #fourth{ margin-left: 0px;}

#footer .widget-title{ text-align:center;}

#foot-sidebar .widget-container {   margin: 0 auto;   width: 84%; }



}


