<!DOCTYPE html>
<html> 
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="initial-scale=1,user-scalable=no,width=device-width" name="viewport"/>
<title>{{ keyword }}</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Serif%3A400%2C400i%2C700%2C700i&amp;ver=5.4" id="wp-editor-font-css" media="all" rel="stylesheet" type="text/css"/>
<script type="application/ld+json">{
    "@context": "https://schema.org/",
    "@type": "CreativeWorkSeries",
    "name": "{{ keyword }}",
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ RANDFLOAT 4-5 }}",
        "bestRating": "5",
        "ratingCount": "{{ RANDINT 5-300 }}"
    }
}</script>
<style rel="stylesheet" type="text/css">@charset "UTF-8";footer,header,nav,section{display:block}a{background-color:transparent}a:active,a:hover{outline:0}small{font-size:80%}html{overflow-y:scroll;min-height:100%;font-size:100.01%;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}*{box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size:100%;line-height:1.5;font-style:normal;min-height:100%;margin:0;background:#eee}body{color:#444;-webkit-font-smoothing:antialiased;text-rendering:optimizelegibility}a{text-decoration:none;-webkit-transition:background-color 150ms linear,color 150ms linear;transition:background-color 150ms linear,color 150ms linear;border:none;padding:0;margin:0}a:hover{color:#ffd62c}::selection{background:#ffb7b7;text-shadow:none}a:focus{outline:0}small{font-size:small}h3{font-style:normal;font-family:Georgia,Helvetica,sans-serif;letter-spacing:0;font-weight:600;margin-top:.2em;text-rendering:optimizeSpeed}h3{font-size:1.6875em;line-height:1.8;margin-bottom:.6em}.aux-container:after{content:"";display:table;clear:both}.aux-container{width:100%;margin:0 auto}.aux-off{display:none}@media screen and (max-width:991px) and (min-width:768px){.aux-tablet-off{display:none!important}}@media screen and (max-width:767px){.aux-phone-off{display:none!important}}.aux-float-layout .aux-float-wrapper{position:relative;clear:both}.aux-float-layout .aux-float-wrapper::after{content:'';display:table;clear:both}.aux-float-layout .aux-start{float:left}.aux-float-layout .aux-end{float:right}.aux-float-layout .aux-middle{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.aux-float-layout .aux-fill{height:100%}@media screen and (max-width:767px){.aux-float-layout .aux-phone-center{position:absolute;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}}@media screen and (max-width:991px) and (min-width:768px){.aux-float-layout .aux-tablet-center{position:absolute;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}}ul{margin-bottom:1em;margin-left:0;padding:0;border:none}li{margin-bottom:1em;line-height:1.5;border-color:#ccc;border-width:1px}ul{list-style:none outside}:before{font-family:auxin-front!important;font-style:normal!important;font-weight:400!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale} body{font-family:Raleway,arial,sans-serif;background-color:#fff}body:before{content:' ';position:fixed;width:100%;z-index:1}#inner-body{position:relative;z-index:3;background-color:#fff}.aux-territory{width:100%;margin-left:auto;margin-right:auto}.aux-container{margin:0 auto}.aux-wrapper{width:100%;margin-left:auto;margin-right:auto}.aux-full-width #inner-body{overflow-x:hidden}.aux-resp.aux-hd .aux-fold{width:auto;max-width:1270px}.aux-fold{padding-right:35px;padding-left:35px}.aux-semi-full-container>.aux-wrapper>.aux-container{max-width:none;padding-right:35px;padding-left:35px}::selection{background:rgba(33,150,243,.2)}h3{font-family:Raleway,arial,sans-serif}a{color:#1bb0ce}a:hover{color:#1691aa}.aux-header-elements{position:relative}.aux-header-elements>[class*="-box"].aux-end{margin-left:15px}.site-header-section{background-color:#fff;-webkit-transition:background-color .3s ease-out,height .3s ease-out;transition:background-color .3s ease-out,height .3s ease-out;position:relative;z-index:201}@media print{.site-header-section{display:none}}.site-header-section.aux-add-border .aux-wrapper{border-bottom:1px solid #eaeaea}.site-header-section .aux-burger-box.aux-end{margin-left:20px}.site-header-section .aux-header-elements,.site-header-section .aux-menu-depth-0>.aux-item-content{height:85px}.site-header-section .aux-fill .aux-logo{height:100%;overflow:hidden}@media screen and (max-width:1023px){.aux-resp .site-header-section .aux-logo-header{max-width:80%;display:inline-block}}@media screen and (max-width:767px){.aux-resp .site-header-section .aux-container{max-height:calc(100vh - 100px);overflow:auto;will-change:transform;-webkit-transform:translateZ(1px);transform:translateZ(1px)}}.site-header-section .aux-toggle-menu-bar{overflow:hidden;height:0;width:100%}.aux-logo{position:relative}.aux-logo-text{text-overflow:ellipsis}.aux-logo-anchor{display:block}@media screen and (max-width:767px){.aux-resp{background-image:none}}.aux-site-footer{position:relative;padding:15px 0;margin:0;background-color:#fdfdfd;color:#aaa;border-top:1px solid #eaeaea}.aux-site-footer .aux-fold{height:60px}.aux-site-footer ul:after{content:"";display:table;clear:both}.aux-site-footer small{font-size:.875em;line-height:100%}.aux-site-footer .aux-start{margin-right:20px}.aux-site-footer .aux-end{margin-left:20px}@media print{.aux-site-footer{display:none}}.aux-hidden-blocks{z-index:100003;position:relative}/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license *//*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */.aux-burger{position:relative;cursor:pointer}.aux-burger .mid-line,.aux-burger::after,.aux-burger::before{width:100%;content:"";display:block;border-bottom:solid;box-sizing:border-box;border-color:#222;-webkit-transition:all .3s;transition:all .3s}.aux-burger::before{border-top:solid;border-bottom:none;border-color:#222;-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0}.aux-burger::after{bottom:0;-webkit-transform-origin:0 100%;-ms-transform-origin:0 100%;transform-origin:0 100%}.aux-burger,.aux-burger[class*=medium]{width:28px}.aux-burger .mid-line,.aux-burger::after,.aux-burger::before{border-width:2px}.aux-burger::after{margin-bottom:0!important}.aux-burger[class*=thick] .mid-line,.aux-burger[class*=thick]::after,.aux-burger[class*=thick]::before{border-width:4px}.aux-burger[class*=thick]::after{margin-bottom:0!important}.aux-burger.aux-thick-medium .mid-line{margin:8px 0}.aux-burger:hover::before{-webkit-transform:translateY(-4px);-ms-transform:translateY(-4px);transform:translateY(-4px)}.aux-burger:hover::after{-webkit-transform:translateY(4px);-ms-transform:translateY(4px);transform:translateY(4px)} .aux-master-menu{position:relative;list-style:none;display:table;width:100%}.aux-master-menu,.aux-master-menu *{margin:0;padding:0}.aux-master-menu li{list-style:none}.aux-master-menu .aux-menu-item{box-sizing:border-box}.aux-master-menu .aux-menu-item>a{text-decoration:none;color:inherit}.aux-master-menu .aux-menu-item{position:relative;display:block;clear:both;width:100%;box-sizing:content-box}.aux-master-menu .aux-menu-item .aux-item-content{position:relative;display:block}.aux-master-menu .aux-menu-label{display:block} .site-header-section .aux-menu-depth-0>.aux-item-content{display:block;padding:.75em 1.3125em;font-size:.875em;color:#3d3d3d;text-transform:uppercase;white-space:nowrap}.site-header-section .aux-menu-depth-0>.aux-item-content .aux-menu-label{display:inline-block}.site-header-section .aux-menu-depth-0:first-child>.aux-item-content{padding-left:0}.site-header-section .aux-menu-depth-0:last-child>.aux-item-content{padding-right:0}.site-header-section .aux-menu-depth-0>.aux-item-content{display:table-cell;padding-top:0;padding-bottom:0;vertical-align:middle;cursor:default}.site-header-section .aux-menu-depth-0>a.aux-item-content{cursor:pointer}.aux-logo-header .aux-logo-anchor{max-width:250px}.site-header-section .aux-header-elements:not(.aux-vertical-menu-elements){height:115px}.site-header-section{background-color:rgba(255,255,255,0)}.site-header-section .aux-header .aux-burger .mid-line,.site-header-section .aux-header .aux-burger:after,.site-header-section .aux-header .aux-burger:before{border-color:#3d3d3d}.aux-site-footer{background-color:#1a1a1a}.aux-site-footer{border-top:1px solid #eaeaea}.aux-site-footer{border-top-width:1px}@font-face{font-family:'Fredoka One';font-style:normal;font-weight:400;src:local('Fredoka One'),local('FredokaOne-Regular'),url(https://fonts.gstatic.com/s/fredokaone/v7/k3kUo8kEI-tA1RRcTZGmTlHGCaI.ttf) format('truetype')}</style>
</head>
<body class="wp-custom-logo _auxels phlox aux-dom-unready aux-full-width aux-resp aux-hd aux-top-sticky aux-page-animation-off" data-framed="">
<div id="inner-body">
<header class="site-header-section aux-territory aux-semi-full-container aux-header-dark aux-add-border " data-color-scheme="dark" data-sticky-height="115" data-sticky-scheme="dark" id="site-header" role="banner" style="">
<div class="aux-wrapper">
<div class="aux-container aux-fold">
<div class="aux-header aux-header-elements-wrapper aux-float-layout">

<div class="aux-header-elements">

<div class="aux-logo-header aux-start aux-fill aux-tablet-center aux-phone-center" id="logo">
<div class="aux-logo aux-logo-header-inner aux-scale">
<a class="custom-logo-link aux-logo-anchor aux-logo-anchor1 aux-middle aux-has-logo" href="#" rel="home"><h3>{{ keyword }}</h3></a> <section class="aux-logo-text aux-middle">
</section>
</div>
</div>

<div class="aux-burger-box aux-end aux-middle" data-target-content=".site-header-section .aux-master-menu" data-target-panel="toggle-bar" id="nav-burger">
<div class="aux-burger aux-thick-medium"><span class="mid-line"></span></div>
</div>
<section class="widget-socials aux-socials-container aux-end aux-middle aux-tablet-off aux-phone-off aux-horizontal aux-small">
<ul class="aux-social-list">
</ul>
</section>
<div class="aux-menu-box aux-off aux-auto-locate aux-end aux-fill aux-tablet-center">

<nav class="menu-primary-menu-container" id="master-menu-main-header">
<ul class="aux-master-menu aux-no-js aux-skin-classic aux-horizontal aux-with-indicator aux-with-splitter" data-switch-parent=".aux-header .aux-toggle-menu-bar" data-switch-type="toggle" data-switch-width="7000" data-type="horizontal" id="menu-primary-menu">

<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-170 aux-menu-depth-0 aux-menu-root-1 aux-menu-item" id="menu-item-170">
<a class="aux-item-content" href="#">
<span class="aux-menu-label">Home</span>
</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-350 aux-menu-depth-0 aux-menu-root-2 aux-menu-item" id="menu-item-350">
<a class="aux-item-content" href="#">
<span class="aux-menu-label">About Us</span>
</a>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171 aux-menu-depth-0 aux-menu-root-4 aux-menu-item" id="menu-item-171">
<a class="aux-item-content" href="#">
<span class="aux-menu-label">Contact Us</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
<div class="aux-toggle-menu-bar"></div>
</div>
</div>
</div>
</header>
<header class="page-title-section" id="site-title">
<div class="page-header aux-wrapper aux-boxed-container aux-bread-bordered aux-bread-sep-slash aux-left aux-top aux-dark" style="display:block; ">
<div class="aux-container">
<div class="aux-page-title-entry">
<div class="aux-page-title-box">
<section class="page-title-group">
</section>
</div>
</div>
</div>
</div>
</header>
{{ text }}
<br>
<br>
{{ links }}
<footer class="aux-site-footer" id="sitefooter">
<div class="aux-wrapper aux-float-layout">
<div class="aux-container aux-fold aux-float-wrapper"> <div class="aux-logo aux-logo-footer aux-start aux-middle aux-phone-off">
<a class="aux-logo-anchor " href="#" rel="home" title="">
</a>
</div>
<div class="aux-copyright aux-start aux-middle " id="copyright"><small>2020 {{ keyword }}</small></div><section class="widget-socials aux-socials-container aux-end aux-middle aux-tablet-off aux-phone-off aux-socials-footer aux-horizontal aux-small">
<ul class="aux-social-list">
</ul>
</section>
</div> 
</div>
</footer>
</div>
<div class="aux-hidden-blocks">
</div>
</body>
</html>