<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Practice alerts */

#pa_heading{
  text-transform: none;
}
/*#practice-alerts-signup{
	background-color: #00897b;
    color: #fff;
  	padding: 6px 12px;
  	border: none;
}*/


</style>
<!-- end Simple Custom CSS and JS -->
