h1, h2, h3, h4, h5, h6 {

    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    color:#444444;

    font-weight: normal;

}

body, button, input, select, textarea {

    color: #333;

    font-family: Arial;

    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    line-height: 1.5em;

    font-size: 16px;

    text-align: justify;

}

.neovantage-main-menu .main-nav li:hover li:hover a {

    color: #fff !important;

}





/*==== header ===*/





img.custom-logo {

    max-width: 100%;

    height: auto;

      padding-right: 30px;

}

/* section.page-header {

    display: none;

} */

.neovantage-main-menu .main-nav li > a:after{display: none;}

header#masthead {

    border-bottom: 2px #641C0D solid;

}

.neovantage-main-menu .main-nav li > a {

    font-size: 14px;

    font-weight: normal;

    color: #333;

    padding: 40px 10px;

    font-family: Lato !important;

}

.neovantage-main-menu .main-nav li:last-child > a {

    padding-right: 10px !important;

}

.neovantage-main-menu .main-nav .current-menu-item {

    background: #641c0d;

}

.neovantage-main-menu .main-nav .current-menu-item a{color:#fff;}

.neovantage-main-menu .main-nav li:hover {

    background: #641c0d;

}

.neovantage-main-menu .main-nav li:hover a{

    color:#fff;

}





/*==== header end ===*/



ul.serviceul-2 li {

    background: #ededed;

    list-style: none;

    margin: 10px 0;

    padding: 5px 20px;

    width: 60%;

    font-size: 20px;

    line-height: 1.5;

    font-weight: normal;

    font-family: Lato !important;

    font-style: italic;

    color: #333;

}

.home-content h2 {

    font-size: 34px;

    margin-top: 0;

    font-family: Lato !important;

    color: #6B2E20;

    position: relative;

    line-height: 2;

}

.hha-link a:hover {

    color: #6B2E20 !important;

}

.since h1 {

    font-weight: normal;

    font-family: Lato !important;

    font-style: italic;

    text-align: center;

    margin-bottom: 0;

    font-size: 50px;

    text-transform: capitalize;

    color: #6B2E20;

    position: relative;

}

.since p {

    text-align: center;

    font-size: 20px;

    line-height: 1.5;

    font-weight: normal;

    font-family: Lato !important;

    font-style: italic;

    padding: 30px 15px;

    color: #333;

}

.since h1::before {

    background: #1b1a1a none repeat scroll 0 0;

    bottom: 0;

    content: "";

    height: 2px;

    left: 0;

    position: absolute;

    max-width: 170px;

    right: 0;

    margin: 0 auto;

}

.since h1::after {

    background: #fff none repeat scroll 0 0;

    border: 2px solid #511010;

    border-radius: 100px;

    content: "";

    height: 10px;

    left: 0;

    position: absolute;

    width: 10px;

    right: 0;

    margin: 0 auto;

    bottom: -4px;

    top: auto;

}

.home-content h2 {

    font-size: 34px;

    margin-top: 0;

    font-family: Lato !important;

    color: #6B2E20;

    position: relative;

    line-height: 2;

    margin-top: 40px;

    margin-bottom: 50px;

}



.home-content h2::before {

    background: #1b1a1a none repeat scroll 0 0;

    bottom: 0;

    content: "";

    height: 2px;

    left: 0;

    position: absolute;

    max-width: 275px;

    right: 0;

    margin: 0 auto;

}

.home-content h2::after {

    background: #fff none repeat scroll 0 0;

    border: 2px solid #511010;

    border-radius: 100px;

    content: "";

    height: 10px;

    left: 0;

    position: absolute;

    width: 10px;

    right: 0;

    margin: 0 auto;

    bottom: -5px;

    top: auto;

}



.home-content h2 {

    font-size: 34px;

    margin-top: 0;

    font-family: Lato !important;

    color: #6B2E20;

    position: relative;

    line-height: 2;

}



.home-content h2::before {

    background: #1b1a1a none repeat scroll 0 0;

    bottom: 0;

    content: "";

    height: 2px;

    left: 0;

    position: absolute;

    max-width: 275px;

    right: 0;

    margin: 0 auto;

}

.home-content h2::after {

    background: #fff none repeat scroll 0 0;

    border: 2px solid #511010;

    border-radius: 100px;

    content: "";

    height: 10px;

    left: 0;

    position: absolute;

    width: 10px;

    right: 0;

    margin: 0 auto;

    bottom: -5px;

    top: auto;

}



.home-content h2 {

    font-size: 34px;

    margin-top: 0;

    font-family: Lato !important;

    color: #6B2E20;

    position: relative;

    line-height: 2;

}

.home-content h2::before {

    background: #1b1a1a none repeat scroll 0 0;

    bottom: 0;

    content: "";

    height: 2px;

    left: 0;

    position: absolute;

    max-width: 275px;

    right: 0;

    margin: 0 auto;

}

.home-content h2::after {

    background: #fff none repeat scroll 0 0;

    border: 2px solid #511010;

    border-radius: 100px;

    content: "";

    height: 10px;

    left: 0;

    position: absolute;

    width: 10px;

    right: 0;

    margin: 0 auto;

    bottom: -5px;

    top: auto;

}

.blog_pagination.blog-clearfix {

    display: none;

}

#main .entry-media {

    display: none;

}

.page-id-583 section#content {

    padding-top: 0;

}





.site-content .col-lg-8 {

    width: 100%;

}

.site-content .col-lg-4 {

    width: 100%;

}

.site-content .col-lg-4 aside#secondary {

    border: none;

}

.right-why a strong {

    color: #3e3e3e;

}

.home section#content {

    padding-top: 0;

}

div#slides {

    margin-bottom: 25px;

}







.blogfree-plugin .blog {

    margin-bottom: 15px;

}

/* .blogfree-plugin .blog .blog-inner-wrap-view.blog-clearfix {

    background: #f1f1f1;

    border-top: 5px #ccc solid;

    padding: 5px 15px 15px;

}  */

.blogfree-plugin .blog .blog-inner-wrap-view.blog-clearfix a.blog-more-link {

    color: #fff;

    border: 1px #555 solid;

}

.blogfree-plugin .blog .blog-inner-wrap-view.blog-clearfix a.blog-more-link:hover {

    background: #fff;

    color: #555;

    font-weight: 600;

}   

.social-share {

    display: none;

}









.contact-form {

    float: left;

}

.contact-form-address {

    float: right;

}

.contact-form-address h2 {

    margin-top: 0;

}

#wpcf7-f55-p48-o1 .wpcf7-form .wpcf7-form-control.wpcf7-submit {

    border: 1px #333 solid;

    background: #333;

    color: #fff;

}

option {

    font-size: 14px;

}

.form-page-right input.wpcf7-submit {

    width: 100px;

    padding: 7px;

    text-align: center;

    margin-top: 15px;

}





.left-why {

    float: right;

}

.right-why h1.why-head {

    font-size: 30px;

}

.right-why h1 {

    font-size: 18px;

}

.right-why ul {

    margin-left: 20px;

}

.right-why h1 a {

    text-decoration: none;

}







.home div.blog .blog-content .date-post { display: none;}

.home div.blog .blog-content .post-content-text {margin-left: 0;width: 100%;}

li.rss.menu-item {

    width: 40px;

    background: url(/wp-content/themes/vantage/images/rss-news.png) no-repeat left 15px top 28px;

}

li.rss.menu-item a {

    color: #fff;

    opacity: 0;

}





.form-page-left {

    width: 65%;

    float: left;

    padding-right: 15px;

}

.form-page-right {

    width: 35%;

    float: left;

    border: 1px #ccc dashed;

    padding: 0px 10px;

    margin-bottom: 15px !important;

}

.form-page-right input {

    width: 100%;

}

.form-page-right textarea {

    width: 100%;

}





/*==== footer top ====*/



/* aside#secondary {

    padding: 25px !important;

    background: #ffcec3;

    display: inline-block;

    width: 100%;

    margin-bottom: 0 !important;

} */

aside#secondary section#meta-2 {

    width: 50%;

    float: right;

    visibility: hidden;

}

aside#secondary section#flexipages-2 {

    width: 50%;

    float: left;

}

aside#secondary section#flexipages-3 {

    width: 50%;

    float: left;

}

aside#secondary section#meta-2 h4.widget-title {

    color: #333;

    border-bottom: 2px #333 solid;

    display: inline-block;

    padding-bottom: 5px;

}

aside#secondary section#meta-2 ul li a {

    color: #333;

}

aside#secondary h4.widget-title {

    color: #333;

    border-bottom: 2px #333 solid;

    display: inline-block;

    padding-bottom: 5px;

}





/*==== footer top end ====*/





.btn-info {

    color: #fff;

    background-color: #641C0D;

    border-color: #641C0D;

}

.btn.btn-info:after {

    background: #6d2c1e;

}

.btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info:focus {

    background: #b16151;

    border-color: #641C0D;

}





/*==== Responsive ====*/



@media (max-width: 991px) {

  

}



@media (max-width: 767px) {

  ul.serviceul-2 {padding-left: 0;}

  img.custom-logo {padding-right: 0;}

  .neovantage-mobile-menu .mobile-nav li .sub-menu li a {padding: 0 40px;}

  .neovantage-mobile-menu .mobile-nav li a {padding: 0 20px;}

  .form-page-left, .form-page-right{width: 100%;}

  input, textarea {max-width: 100%;padding-right: 0;}

}







@media (max-width: 480px) {

  ul.serviceul-2 li {width: 80%;}

  aside#secondary section#meta-2 {display: none;}

  aside#secondary section#flexipages-2, aside#secondary section#flexipages-3 {width: 100%;}

  .contact-form {float: none;}

  input.wpcf7-form-control.wpcf7-submit {padding: 0 15px;}

}

.page-id-131 .neovantage-mobile-menu .nav.mobile-nav .menu-item-174 li.full-length.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-166 a {
    padding-right: 0 !important;
    font-size: 12px !important;
   }
-

