/*
Theme Name: Vantage
Author: SiteOrigin
Author URI: https://siteorigin.com/
Theme URI: https://siteorigin.com/theme/vantage/
Description: Vantage is a flexible multipurpose theme. Its strength lies in its tight integration with some powerful plugins like Page Builder for responsive page layouts, Meta Slider for big beautiful sliders and WooCommerce to help you sell online. Vantage is fully responsive and retina ready. Use it to start a business site, portfolio or online store. We offer free and premium support on our support <a href="http://siteorigin.com/thread/">forums</a> (http://siteorigin.com/thread/).
Version: 1.6.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: vantage
Tags: one-column, two-columns, left-sidebar, right-sidebar, grid-layout, custom-colors, custom-menu, custom-logo, featured-images, footer-widgets, full-width-template, post-formats, sticky-post, theme-options, threaded-comments, translation-ready, e-commerce
*/
/* =Reset
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
  background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}
a img {
  border: 0;
}
/* =Global
----------------------------------------------- */
/* Consistent fonts across all elements */
body,
button,
input,
select,
textarea {
  color: #333;
  font-family: Arial;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5em;
  font-size: 16px;text-align: justify;
}
/* Links */
a {
  color: #248cc8;
}
a:hover,
a:focus,
a:active {
  color: #f47e3c;
} 
/* Headings and Rulers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
/* Text elements */
p {
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
b,
strong {
  font-weight: 700;
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}
code,
kbd,
tt,
var {
  font-family: "Courier New", Courier, mono;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em 0;
  width: 100%;
}
th {
  font-weight: bold;
}
button,
input,
select,
textarea {
  /* Corrects font size not being inherited in all browsers */
  font-size: 100%;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  margin: 0;
  /* Improves appearance and consistency in all browsers */
  vertical-align: baseline;
  *vertical-align: middle;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input {
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  line-height: normal;
  /* Corrects inner spacing displayed oddly in IE6/7 */
  *overflow: visible;
}
a.button,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 12px 20px;
  border-top: solid 1px #d2d2d2;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #9f9f9f;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfdfdf), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dfdfdf, #ffffff);
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #dfdfdf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #646464;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  width: auto;
  text-decoration: none;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  cursor: pointer;
  /* Corrects inability to style clickable 'input' types in iOS */
  line-height: 1;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
a.button:focus,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  /* Button hover style */
  border-top: solid 1px #dadada;
  border-left: solid 1px #cfcfcf;
  border-right: solid 1px #cfcfcf;
  border-bottom: solid 1px #a8a8a8;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebebeb), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #ebebeb, #ffffff);
  background: -moz-linear-gradient(center bottom, #ebebeb 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0);
}
a.button:active,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  /* Button click style */
  border-top: solid 1px #aaa;
  border-left: solid 1px #bbb;
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-appearance: textfield;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  color: #111;
}
input[type=text],
input[type=email],
input[type=password] {
  padding: 3px;
}
textarea {
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  overflow: auto;
  /* Improves readability and alignment in all browsers */
  vertical-align: top;
}
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
/* Text meant only for screen readers */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.page-links {
  clear: both;
}
#site-title a {
  color: inherit;
}
body {
  background: #dadada;
}
/* =General Layout
----------------------------------------------- */
#page-wrapper {
  padding-top: 20px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1080px;
  margin: 0 auto;
}
.layout-full #page-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.layout-full #page-wrapper .full-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 1080px) {
  .responsive.layout-boxed #page-wrapper {
    margin: 0;
    padding: 0;
  }
  .responsive.layout-boxed #colophon {
    margin-bottom: 0;
  }
}
#masthead {
background: #fff;
padding: 25px 35px 25px 35px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;border-bottom: 2px #6B2E20 solid;
}
footer#colophon {
    border-top: 2px #6B2E20 solid;
}
#email-subscribers-10 .es_caption {
    color: #333;
    font-size: 16px;
}
#masthead:before {
  content: '';
  display: block;
}
#masthead:after {
  content: '';
  display: table;
  clear: both;
}
#masthead h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#masthead h1.logo-title {
  display: inline-block;
  margin-left: 20px;
}
#masthead .hgroup {
  zoom: 1;
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
}
#masthead .hgroup:before {
  content: '';
  display: block;
}
#masthead .hgroup:after {
  content: '';
  display: table;
  clear: both;
}
#masthead .hgroup a {
  text-decoration: none;
}
#masthead .hgroup h1 {
  color: #666666;
  font-weight: 100;
  font-size: 36px;
  line-height: 1em;
}
#masthead .hgroup .logo {
  display: block;
  float: left;
  max-width: 100%;
}
#masthead .hgroup .logo img {
  vertical-align: bottom;
}
#masthead .hgroup .support-text {
  line-height: 1.2em;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.6em;
  color: #4b4b4b;
  font-style: italic;
  max-width: 50%;
}
#masthead .hgroup #header-sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Center align layout. Based on old CSS3 spec, so update when new spec is available and supported */
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -ms-flexbox;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -moz-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: box;
  box-pack: center;
  box-align: center;
}
#masthead .hgroup #header-sidebar aside.widget {
  margin-bottom: 0;
  float: left;
  position: relative;
  margin-right: 25px;
}
#masthead .hgroup #header-sidebar aside.widget:last-child {
  margin-right: 0;
}
#masthead .hgroup #header-sidebar .widget-title {
  font-weight: bold;
  margin-bottom: 5px;
}
#masthead.masthead-logo-in-menu .main-navigation {
  zoom: 1;left: 0 !important;margin: 0;width: 100% !important;
}
#main-slider {
    margin-bottom: 15px;margin-top: 15px;
}
#masthead.masthead-logo-in-menu .main-navigation:before {
  content: '';
  display: block;
}
#masthead.masthead-logo-in-menu .main-navigation:after {
  content: '';
  display: table;
  clear: both;
}
#masthead.masthead-logo-in-menu .logo {
  float: left;
  padding: 10px 0;
  margin-right: 15px;padding-top: 0;
}
#masthead.masthead-logo-in-menu .logo > * {
  display: block;
}
#masthead.masthead-logo-in-menu .logo > img {
  max-height: 33px;
  width: auto;
  height: auto;
  max-width: 100%;
}
#masthead.masthead-logo-in-menu .logo > img.logo-no-height-constrain {
width: 200px;
max-height: none;
}
#masthead.masthead-logo-in-menu .logo > h1 {
  font-size: 20px;
  font-weight: 100;
  padding: 7px 15px;
}
.layout-boxed #masthead.masthead-logo-in-menu .logo {
  margin-left: 25px;
}
body.ie-8 #masthead .hgroup #header-sidebar,
body.ie-9 #masthead .hgroup #header-sidebar {
  padding-top: 40px;
  padding-bottom: 40px;
}
#main {
  zoom: 1;
}
#main:before {
  content: '';
  display: block;
}
#main:after {
  content: '';
  display: table;
  clear: both;
}
#primary {
  float: left;
  width: 71.287%;
}
body.sidebar-position-left #primary {
float: left;
width: 100%;
}
body.sidebar-position-left.page-template-home-panels #primary,
body.sidebar-position-left.page-template-template-full #primary,
body.sidebar-position-left.page-template-template-full-notitle #primary {
  float: none;
}
body.sidebar-position-none #primary {
  float: none;
  width: auto;
}
body.no-sidebar #primary {
  float: none;
  width: auto;
}
/* Full Width Primary blocks */
body.siteorigin-panels-lite-home #primary,
body.vantage-layout-width-full-width #primary,
body.vantage-layout-width-full-width-stretched #primary {
  width: auto;
  float: none;
}
.vantage-layout-width-full-width-stretched #main > .full-container {
  max-width: 100% !important;
}
.vantage-layout-width-normal #primary {
  float: left;
  width: 71.287%;
}
#secondary {
  float: right;
  width: 23.762%;
}
body.sidebar-position-none #secondary {
  display: none;
}
.siteorigin-panels-home #primary,
.page-template-templatestemplate-full-php #primary,
.page-template-home-panels-php #primary,
.page-template-templatestemplate-full-notitle-php #primary {
  width: auto;
  float: none;
}
.page-template-default #primary {
  float: left;
  width: 71.287%;
}
#main {
  background: #fcfcfc;
  padding: 35px;
}
#main-slider {
  line-height: 0;
  background: #eeeeee;
}
#main-slider .flexslider {
  margin-bottom: 0;
}
#main-slider h1 {
  font-weight: 100;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#main-slider .text-em-wrapper {
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  font-weight: bold;
}
#main-slider .metaslider,
#main-slider #metaslider-demo {
  margin: 0 auto;
}
#main-slider #metaslider-demo {
  text-align: center;
}
/* =Responsive Layout
----------------------------------------------- */
@media (max-width: 1080px) {
  body.responsive #masthead .hgroup .logo img {
    /* Scale down the logo if necessary */
    max-width: 100%;
    height: auto;
  }
  body.responsive #masthead.masthead-logo-in-menu .logo {
    margin-left: 20px;
  }
  body.responsive #masthead.masthead-logo-in-menu .main-navigation .menu-mobilenav-container ul {
    margin-right: 0;
  }
  body.responsive #masthead.masthead-logo-in-menu .main-navigation .menu-mobilenav-container ul li {
    float: right;
  }
  body.responsive #masthead.masthead-logo-in-menu .main-navigation .menu-mobilenav-container ul li a {
    padding-left: 20px;
    padding-right: 20px;
  }
  body.responsive #masthead.masthead-logo-in-menu #search-icon-icon {
    display: none;
  }
}
#masthead.force-responsive .hgroup {
  text-align: center;
}
#masthead.force-responsive .hgroup .logo {
  float: none;
}
#masthead.force-responsive .hgroup .logo img {
  margin: 0 auto;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#masthead.force-responsive .hgroup .support-text,
#masthead.force-responsive .hgroup #header-sidebar {
  position: static;
  display: block;
  margin-top: 30px;
  max-width: 100%;
}
#masthead.force-responsive .hgroup .support-text img,
#masthead.force-responsive .hgroup #header-sidebar img {
  max-width: 100%;
  height: auto;
}
#masthead.force-responsive .hgroup #header-sidebar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: auto;
}
#masthead.force-responsive .hgroup #header-sidebar .widget {
  display: block;
  margin: 0 auto;
  float: none;
}
/* We consider 680px to be mobile resolution */
@media (max-width: 680px) {
  body.responsive #masthead .hgroup {
    text-align: center;
  }
  body.responsive #masthead .hgroup .logo {
    float: none;
  }
  body.responsive #masthead .hgroup .logo img {
    margin: 0 auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  body.responsive #masthead .hgroup .support-text,
  body.responsive #masthead .hgroup #header-sidebar {
    position: static;
    display: block;
    margin-top: 30px;
    max-width: 100%;
  }
  body.responsive #masthead .hgroup .support-text img,
  body.responsive #masthead .hgroup #header-sidebar img {
    max-width: 100%;
    height: auto;
  }
  body.responsive #masthead .hgroup #header-sidebar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: auto;
  }
  body.responsive #masthead .hgroup #header-sidebar .widget {
    display: block;
    margin: 0 auto;
    float: none;
  }
  body.responsive #primary,
  body.responsive #secondary {
    width: auto;
    float: none;
  }
  body.responsive #secondary {
    margin-top: 35px;
  }
  body.responsive #footer-widgets .widget {
    display: block;
    margin-bottom: 25px;
    float: none;
  }
  body.responsive #footer-widgets .widget:last-child {
    margin-bottom: 0;
  }
}
body.responsive #page-wrapper {
  max-width: 1080px;
  width: auto;
  overflow-x: hidden;
}
body.responsive.layout-full #page-wrapper {
  max-width: 100%;
}
body.responsive.layout-boxed #page-wrapper {
  overflow-x: visible;
}
body.responsive.layout-full #page-wrapper .full-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
/* Make widget layouts vertical below 640px */
@media screen and (max-width: 640px) {
  body.responsive #footer-widgets .widget,
  body.responsive #masthead-widgets .widget {
    width: auto;
    float: none;
    padding: 0;
    padding-bottom: 25px;
  }
}
/* =Menu
----------------------------------------------- */
.main-navigation {
  margin: 0 -35px;
  background: #fff;
  position: relative;
  font-size: 0;
  z-index: 9999;
  /* Font awesome icons */
  /* General menu link styling */
  /* For when the menu becomes a sticky menu */
}
.main-navigation [class^="fa fa-"] {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
  line-height: 0.5em;
  color: #cccccc;
}
.main-navigation a:hover [class^="fa fa-"] {
  color: #343538;
}
.main-navigation ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding-left: 0;
  zoom: 1;
  /* Second level menu items */
}
.main-navigation ul:before {
  content: '';
  display: block;
}
.main-navigation ul:after {
  content: '';
  display: table;
  clear: both;
}

.main-navigation ul li {
  display: inline-block;
  font-size: 13px;
  position: relative;
   margin-top: 30px !important;
}
.main-navigation ul li:hover > a {
border: 1px #6B2E20 solid;
}
.main-navigation ul li a {
  padding: 14px 13px;
  line-height: 1em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#email-subscribers-10 .es_widget_form #es_txt_button {
    border: 1px #333 solid;
    background: #333;
    color: #fff;
}
.main-navigation ul li a,
.main-navigation ul li a > * {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-navigation ul ul {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  background: #ccc;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99999;
  /* Third Level Items */
}
.main-navigation ul ul a {
  width: 250px;
  padding: 15px 20px;
}
.main-navigation ul ul li {
  position: relative;
  text-align: left;margin-top: 0 !important;
  /* Hovering over 2nd level items */
}
.main-navigation ul ul li:hover > a {
  background: #ccc;
  color: #333;
}
.main-navigation ul ul ul {
  left: 100%;
  top: 0;
  margin-left: 0;
}
.main-navigation ul ul li:hover > a {
    border-bottom: 2px #6B2E20 solid !important;
    border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
}
.main-navigation ul li:hover > ul {
  display: block;
}
.main-navigation a {
  display: block;
  text-decoration: none;
  color: #343538;
  font-weight: bold;
}
.main-navigation.sticky {
  top: 0;
}
.main-navigation.sticky:after {
  bottom: -6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 6px 6px -6px inset;
  content: "";
  height: 6px;
  position: absolute;
  width: 100%;
}
.main-navigation ul li a {
    border: 1px #fff solid;
}
body.has-menu-search .main-navigation ul {
  margin-right: 59px;
}
/* Handle the navigation slightly differently on mobile devices */
body.so-vantage-mobile-device .main-navigation ul ul {
  display: none;
}
body.so-vantage-mobile-device .main-navigation li:hover > ul {
  display: block;
}
.mobile-nav-frame [class^="fa fa-"] {
  display: inline-block;
  margin-right: 10px;
  min-width: 1em;
}
.mobile-nav-frame img {
  max-height: 18px;
  max-width: 18px;
  margin-right: 10px;
}
.mobile-nav-icon {
  font-family: 'FontAwesome';
  display: inline-block;
  margin-right: 10px;
}
.mobile-nav-icon:before {
  font-size: 14px;
  content: "\f00b";
}
.mobilenav-main-link img {
  max-height: 15px;
  max-width: 20px;
  margin-right: 10px;
}
#search-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 110;
}
#search-icon #search-icon-icon {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #303134;
  width: 59px;
  height: 100%;
}
#search-icon #search-icon-icon,
#search-icon #search-icon-icon .icon-search {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#search-icon #search-icon-icon .vantage-icon-search {
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  font-size: 17px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8.5px;
  color: #d1d1d1;
}
#search-icon #search-icon-icon img {
  position: absolute;
  display: block;
  max-width: 17px;
  max-height: 17px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8.5px;
}
#search-icon #search-icon-icon:hover {
  background-color: #ccc;
}
#search-icon #search-icon-icon:hover .vantage-icon-search {
  color: #ffffff;
}
#search-icon .searchform {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 1080px;
  background: #2d2e31;
  z-index: 10;
  overflow-x: hidden;
}
#search-icon .searchform input[name=s] {
  color: #d1d1d1;
  font-size: 17px;
  font-weight: 200;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 42px;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  outline: none;
  padding: 0 15px;
}
/* =Archives
----------------------------------------------- */
article.sticky {
  /* Style a sticky post */
}
#page-title {
  color: #3b3b3b;
  margin-bottom: 25px;
  font-size: 1.8em;
  font-weight: 500;
}
#page-title a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.taxonomy-description {
  margin-top: -15px;
  color: #666;
  font-style: italic;
}
article.post,
article.page {
  zoom: 1;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
}
article.post:before,
article.page:before {
  content: '';
  display: block;
}
article.post:after,
article.page:after {
  content: '';
  display: table;
  clear: both;
}
article.post footer,
article.page footer {
  float: left;
  width: 17.5%;
}
article.post footer .post-type-icon,
article.page footer .post-type-icon {
  width: 50px;
  height: 50px;
  background: #4f5355;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
article.post footer .tags,
article.page footer .tags {
  margin-top: 15px;
  line-height: 1em;
}
article.post footer .tags a,
article.page footer .tags a {
  display: inline-block;
  margin-right: 4px;
  background: #74787a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 1em;
  padding: 4px 5px;
  color: white;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
article.post .entry-header,
article.page .entry-header {
  margin-bottom: 20px;
}
article.post .entry-header .entry-thumbnail,
article.page .entry-header .entry-thumbnail {
  margin-bottom: 20px;
}
article.post .entry-header .entry-thumbnail img,
article.page .entry-header .entry-thumbnail img {
  display: block;
  max-width: 100%;
  height: auto;
}
article.post .entry-header .entry-thumbnail a,
article.page .entry-header .entry-thumbnail a {
  display: inline-block;
}
article.post .entry-header .entry-video,
article.page .entry-header .entry-video {
  margin-bottom: 20px;
}
article.post .entry-header h1.entry-title,
article.page .entry-header h1.entry-title {
  color: #3b3b3b;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.35em;
}
article.post .entry-header h1.entry-title a,
article.page .entry-header h1.entry-title a {
  color: inherit;
  text-decoration: none;
}
article.post .entry-header .entry-meta,
article.page .entry-header .entry-meta {
  color: #8f8f8f;
  font-size: 12px;
}
article.post .entry-header .entry-meta::first-letter,
article.page .entry-header .entry-meta::first-letter {
  text-transform: uppercase;
}
@media (max-width: 680px) {
  article.post .entry-header .entry-meta,
  article.page .entry-header .entry-meta {
    font-size: 14px;
  }
  .home #content #wowslider-container1 {
    margin-bottom: 0!important;
}
.since h1 {
    margin-top: 15px !important;
}
.since p {
    font-size: 18px !important;
    padding: 30px 0 !important;
    margin-top: 0 !important;
}
.home-content {
    padding: 0 !important;
}
.home-content h2 {
    font-size: 30px !important;
    margin-top: 0 !important;
    line-height: 1.5 !important;
}
.home-content .serviceul-2 li {
    width: 90% !important;
}
#secondary aside {
width: 95% !important;
margin-bottom: 15px !important;
text-align: center;float: none !important;
}
#footer-widgets {
    text-align: center;
}
.copy-right div p {
    margin: 0;
    float: left !important;
    color: #fff;font-size: 12px;
}
}
article.post .entry-header .entry-meta a,
article.page .entry-header .entry-meta a {
  font-weight: 500;
  color: #5e5e5e;
  text-decoration: none;
}
article.post:last-child,
article.page:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
article.post .more-link,
article.page .more-link {
  float: right;
  text-decoration: none;
  padding: 4px 10px;
  border-top: solid 1px #d2d2d2;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #9f9f9f;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfdfdf), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dfdfdf, #ffffff);
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #dfdfdf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  color: #646464;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}
article.post .more-link .meta-nav,
article.page .more-link .meta-nav {
  display: none;
}
article.post .author-box,
article.page .author-box {
  margin: 20px 0 0 0;
  border: 1px solid #cccccc;
  background: #f0f0f0;
  position: relative;
  zoom: 1;
}
article.post .author-box:before,
article.page .author-box:before {
  content: '';
  display: block;
}
article.post .author-box:after,
article.page .author-box:after {
  content: '';
  display: table;
  clear: both;
}
article.post .author-box .avatar-box,
article.page .author-box .avatar-box {
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
}
article.post .author-box .avatar-box .avatar-wrapper,
article.page .author-box .avatar-box .avatar-wrapper {
  background: #ffffff;
  padding: 5px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
article.post .author-box .avatar-box .avatar-wrapper img,
article.page .author-box .avatar-box .avatar-wrapper img {
  display: block;
}
article.post .author-box .box-content,
article.page .author-box .box-content {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 25px;
  margin-left: 132px;
  background: #f9f9f9;
  min-height: 132px;
  border-left: 1px solid #cccccc;
  -webkit-box-shadow: inset 2px 0 2px rgba(0,0,0,0.035);
  -moz-box-shadow: inset 2px 0 2px rgba(0,0,0,0.035);
  box-shadow: inset 2px 0 2px rgba(0,0,0,0.035);
}
article.post .author-box .box-content .box-title,
article.page .author-box .box-content .box-title {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
article.post .author-box .box-content .box-title h3,
article.page .author-box .box-content .box-title h3 {
  color: #3b3b3b;
  font-size: 1.25em;
  line-height: 1.1em;
  font-weight: 500;
  margin: .6em 0 0;
}
article.post .author-box .box-content .author-posts a,
article.page .author-box .box-content .author-posts a {
  color: #777;
  font-size: .9em;
  text-decoration: none;
}
article.post .author-box .box-content .author-posts a:hover,
article.page .author-box .box-content .author-posts a:hover {
  color: #248cc8;
}
article.post .author-box .box-content .box-description,
article.page .author-box .box-content .box-description {
  min-height: 0;
  margin-bottom: 0;
}
article.post .author-box .box-content .box-description > *:first-child,
article.page .author-box .box-content .box-description > *:first-child {
  margin-top: 0;
}
article.post .author-box .box-content .box-description > *:last-child,
article.page .author-box .box-content .box-description > *:last-child {
  margin-bottom: 0;
}
article.post .share-buttons,
article.page .share-buttons {
  margin: 20px 0 0 0;
  padding: 15px 25px;
  border: 1px solid #cccccc;
  background: #f9f9f9;
  list-style: none;
  zoom: 1;
}
article.post .share-buttons:before,
article.page .share-buttons:before {
  content: '';
  display: block;
}
article.post .share-buttons:after,
article.page .share-buttons:after {
  content: '';
  display: table;
  clear: both;
}
article.post .share-buttons li,
article.page .share-buttons li {
  height: 20px;
  display: block;
  float: left;
  max-width: 110px;
}
@media (max-width: 480px) {
  article.post .share-buttons li,
  article.page .share-buttons li {
    width: inherit !important;
    float: none;
    margin-bottom: 10px;
  }
  article.post .share-buttons li:last-child,
  article.page .share-buttons li:last-child {
    margin-bottom: 0;
  }
    body.responsive #masthead.masthead-logo-in-menu .logo {
    padding: 0;
    margin: 0 !important;
}
#mobile-nav-item-wrap-1 li {
    margin-top: 10px !important;
}
body.responsive #masthead.masthead-logo-in-menu .logo img {
    max-width: 100%;
    width: 143px;
}
h1{
    text-align: center;
}
h2 {
    text-align: left;
}
ul {
    margin-left: 0;
}
.contact-form {
    width: 100%;
}
}
article.post .entry-summary p:last-child,
article.page .entry-summary p:last-child {
  margin-bottom: 0;
}
article.post .entry-categories,
article.page .entry-categories {
  margin-top: 1.5em;
  color: #999999;
  font-size: 0.85em;
}
@media (max-width: 680px) {
  article.post .entry-categories,
  article.page .entry-categories {
    font-size: 13px;
  }
  .entry-content h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
}   
.entry-content h1 img {
    float: none;margin: 0 !important;
}
}
article.post .entry-categories a,
article.page .entry-categories a {
  color: #777777;
}
article.post.post-with-thumbnail-icon .entry-thumbnail,
article.page.post-with-thumbnail-icon .entry-thumbnail {
  margin-top: 0.2em;
  float: left;
  clear: none;
  width: 11.68%;
  /* 90px in standard width */
}
article.post.post-with-thumbnail-icon .entry-thumbnail img,
article.page.post-with-thumbnail-icon .entry-thumbnail img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
article.post.post-with-thumbnail-icon .entry-main,
article.page.post-with-thumbnail-icon .entry-main {
  width: 650px;
  width: 84.41%;
  /* 650px in standard width */
  float: right;
}
.post-navigation,
#image-navigation {
  margin-top: -20px;
  margin-bottom: 40px;
  zoom: 1;
}
.post-navigation:before,
#image-navigation:before {
  content: '';
  display: block;
}
.post-navigation:after,
#image-navigation:after {
  content: '';
  display: table;
  clear: both;
}
.post-navigation a,
#image-navigation a {
  text-decoration: none;
  padding: 6px 10px;
  border-top: solid 1px #d2d2d2;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #9f9f9f;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfdfdf), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dfdfdf, #ffffff);
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #dfdfdf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  color: #646464;
  display: inline-block;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}
@media (max-width: 680px) {
  .post-navigation a,
  #image-navigation a {
    font-size: 14px;
    padding: 13px 20px;
  }
}
.post-navigation a .meta-nav,
#image-navigation a .meta-nav {
  display: inline-block;
}
.post-navigation a:hover,
#image-navigation a:hover {
  border-top: solid 1px #dadada;
  border-left: solid 1px #cfcfcf;
  border-right: solid 1px #cfcfcf;
  border-bottom: solid 1px #a8a8a8;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebebeb), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #ebebeb, #ffffff);
  background: -moz-linear-gradient(center bottom, #ebebeb 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0);
}
.post-navigation .nav-previous .meta-nav,
#image-navigation .nav-previous .meta-nav {
  margin-right: 7px;
}
.post-navigation .nav-next .meta-nav,
#image-navigation .nav-next .meta-nav {
  margin-left: 7px;
}
.single-nav-wrapper {
  overflow: hidden;
}
/* Reset the navigation */
#image-navigation {
  margin-top: 0px;
  margin-bottom: 20px;
}
/* =Entry Content
----------------------------------------------- */
/* Styles for actual content */
.entry-header {
  zoom: 1;
}
.entry-header:before {
  content: '';
  display: block;
}
.entry-header:after {
  content: '';
  display: table;
  clear: both;
}
.entry-content {
  zoom: 1;
  line-height: 1.6em;
  color: #333;
  /* WordPress Images */
}
.entry-content:before {
  content: '';
  display: block;
}
.entry-content:after {
  content: '';
  display: table;
  clear: both;
}
.entry-content a {
  color: #248cc8;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.entry-content a:hover {
  color: #f47e3c;
}
.entry-content p,
.entry-content > ul,
.entry-content > ol,
.entry-content > li,
.entry-content > dl,
.entry-content pre,
.entry-content code,
.entry-content blockquote {
  margin: 1em 0;
}
.entry-content > *:last-child {
  margin-bottom: 0;
}
.entry-content > *:first-child {
  margin-top: 0;
  margin-bottom: 30px;
}
.entry-content blockquote {
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #aaaaaa;
}
.entry-content blockquote cite {
  font-weight: bold;
}
.entry-content pre {
  display: block;
  padding: 10px;
  word-wrap: break-word;
}
.entry-content code {
  display: inline;
  padding: 5px;
}
.entry-content pre,
.entry-content code {
  background: white;
  font-family: "Courier New", Courier, mono;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  overflow-x: auto;
}
.entry-content pre p:first-child,
.entry-content code p:first-child {
  margin-top: 0;
}
.entry-content code {
  font-family: "Courier New", Courier, mono;
}
.entry-content sup,
.entry-content sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}
.entry-content sup {
  bottom: 1ex;
}
.entry-content sub {
  top: .5ex;
}
.entry-content .gallery {
  margin: 15px 0 25px 0;
}
.entry-content .gallery .gallery-item {
  margin-bottom: 0;
}
.entry-content .gallery .gallery-icon {
  line-height: 0;
  margin-bottom: 0;
}
.entry-content .gallery img {
  border: none !important;
  vertical-align: middle;
}
.entry-content .gallery .gallery-caption {
  margin: 10px;
  padding-left: 0;
}
.entry-content table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
}
.entry-content img {
  max-width: 100%;
  height: auto;
}
.entry-content .wp-caption {
  max-width: 100%;
  margin: 5px 0 30px 0;
  border: 1px solid #e0e0e0;
  padding: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.entry-content .wp-caption img {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
  box-shadow: 0 1px 2px rgba(0,0,0,0.175);
}
.entry-content .wp-caption.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.entry-content .wp-caption:first-child {
  margin-top: 25px;
}
.entry-content .wp-caption p.wp-caption-text {
  margin: 0;
}
.entry-content .alignleft {
  /* This is also styled on a global level */
  margin: 0 1.5em 1.5em 0;
}
.entry-content .alignright {
  /* This is also styled on a global level */
  margin: 0 0 1.5em 1.5em;
}
.entry-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.entry-content ul {
  list-style-type: square;
}
.entry-content ol {
  list-style-type: decimal;
}
.entry-content ol ol {
  list-style-type: upper-alpha;
}
.entry-content ol ol ol {
  list-style-type: lower-roman;
}
.entry-content ul li,
.entry-content ol li {
  margin-left: 1.5em;
}
.entry-content dl dt {
  margin-bottom: 5px;
  font-weight: bold;
}
.entry-content dl dd {
  margin-bottom: 10px;
  padding-left: 20px;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  color: #444444;
  margin: 1em 0;
  font-weight: 500;
}
.entry-content h1 {
  font-size: 1.7em;
}
.entry-content h2 {
  font-size: 1.6em;
}
.entry-content h3 {
  font-size: 1.5em;
}
.entry-content h4 {
  font-size: 1.4em;
}
.entry-content h5 {
  font-size: 1.2em;
}
.entry-content h6 {
  font-size: 1.1em;
}
.entry-content embed,
.entry-content iframe,
.entry-content object {
  max-width: 100%;
}
.entry-content .tags {
  color: #999999;
}
.entry-content .tags strong {
  color: #666666;
}
.entry-content .tags a {
  color: #999999;
  text-decoration: none;
}
/* =Navigation
----------------------------------------------- */
.pagination,
.entry-content .pagination {
  position: relative;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}
.pagination span,
.entry-content .pagination span,
.pagination a,
.entry-content .pagination a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  margin: 2px 2px 2px 0;
  padding: 6px 9px 5px 9px;
  background: #4f5355;
  border-top: solid 1px #d2d2d2;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #9f9f9f;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfdfdf), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dfdfdf, #ffffff);
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #dfdfdf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: #646464;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  width: auto;
  text-decoration: none;
}
.pagination span:last-child,
.entry-content .pagination span:last-child,
.pagination a:last-child,
.entry-content .pagination a:last-child {
  margin-right: 0;
}
.pagination a:hover,
.entry-content .pagination a:hover {
  background: #f0f0f0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0d0d0), color-stop(1, #f0f0f0));
  background: -ms-linear-gradient(bottom, #d0d0d0, #f0f0f0);
  background: -moz-linear-gradient(center bottom, #d0d0d0 0%, #f0f0f0 100%);
  background: -o-linear-gradient(#f0f0f0, #d0d0d0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#d0d0d0', GradientType=0);
  color: #606060;
}
.pagination .current,
.entry-content .pagination .current {
  border-top: solid 1px #222222;
  border-left: solid 1px #222222;
  border-right: solid 1px #222222;
  border-bottom: solid 1px #222222;
  background: #333333;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #505050), color-stop(1, #333333));
  background: -ms-linear-gradient(bottom, #505050, #333333);
  background: -moz-linear-gradient(center bottom, #505050 0%, #333333 100%);
  background: -o-linear-gradient(#333333, #505050);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#505050', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 0 5px rgba(0,0,0, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 0 5px rgba(0,0,0, 0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 0 5px rgba(0,0,0, 0.5);
  color: #efefef;
}
.site-content {
  word-wrap: break-word;
}
.site-content .nav-previous,
.site-content .nav-next {
  white-space: nowrap;
}
.site-content .nav-previous {
  float: left;
  width: 50%;
}
.site-content .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
@media (max-width: 680px) {
  body.responsive .site-content .nav-previous,
  body.responsive .site-content .nav-next {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
/* =Comments
----------------------------------------------- */
#comments-title,
#reply-title {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1em;
  color: #444444;
  padding-bottom: 5px;
  border-bottom: 2px solid #555555;
}
#comments-title [class^="fa fa-"],
#reply-title [class^="fa fa-"] {
  font-size: 16px;
  display: inline-block;
  margin-right: 4px;
  line-height: 0.75em;
}
#comments .comment-navigation {
  zoom: 1;
  float: none;
  margin-bottom: 2em;
  width: 100%;
}
#comments .comment-navigation:before {
  content: '';
  display: block;
}
#comments .comment-navigation:after {
  content: '';
  display: table;
  clear: both;
}
#comments .commentlist {
  margin: 0 0 40px 0;
  list-style: none;
}
#comments .commentlist .children {
  list-style: none;
  margin-left: 75px;
}
#comments .commentlist article {
  margin-bottom: 35px;
}
#comments .commentlist article .avatar {
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#comments .commentlist article .comment-author,
#comments .commentlist article .awaiting-moderation,
#comments .commentlist article .comment-meta,
#comments .commentlist article .comment-content {
  margin-left: 75px;
}
#comments .commentlist article .comment-author {
  color: #474747;
  font-size: 13px;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 0.35em;
}
@media (max-width: 680px) {
  #comments .commentlist article .comment-author {
    margin-bottom: 1em;
  }
}
#comments .commentlist article .comment-author a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 680px) {
  #comments .commentlist article .comment-author a {
    font-size: 15px;
  }
}
#comments .commentlist article .comment-author cite {
  font-style: normal;
}
#comments .commentlist article .comment-author .author-comment-label {
  position: relative;
  top: -3px;
  margin: 0 4px;
  padding: 2px 5px 3px;
  background-color: #eee;
  font-size: 11px;
  border-radius: 3px;
}
#comments .commentlist article .comment-meta {
  font-size: 11.5px;
  color: #747474;
  line-height: 1em;
  margin-bottom: 15px;
}
@media (max-width: 680px) {
  #comments .commentlist article .comment-meta {
    font-size: 13px;
  }
}
#comments .commentlist article .comment-meta a {
  color: inherit;
  text-decoration: none;
}
#comments .commentlist article .comment-meta .support {
  display: inline-block;
  margin-left: 15px;
}
#comments .commentlist article .comment-meta .support .comment-edit-link {
  margin-left: 15px;
}
#comments .commentlist article .awaiting-moderation {
  display: block;
  margin-bottom: 10px;
}
#comments .commentlist article .entry-content {
  font-size: 12px;
}
#comments .commentlist .bypostauthor {
  /* Change the comment by the post author */
}
#commentform label {
  margin-top: 2px;
  display: block;
  float: left;
  width: 25%;
}
#commentform input,
#commentform textarea {
  float: left;
  width: 75%;
  padding: 10px;
  font-size: 13px;
}
#commentform textarea {
  padding: 10px;
}
#commentform input {
  padding: 7px 10px;
}
#commentform p {
  zoom: 1;
  margin-bottom: 20px;
}
#commentform p:before {
  content: '';
  display: block;
}
#commentform p:after {
  content: '';
  display: table;
  clear: both;
}
#commentform p.form-submit {
  margin-bottom: 0;
}
#commentform #submit {
  width: auto;
  font-size: 12px;
  padding: 10px 20px;
}
@media (max-width: 680px) {
  #commentform #submit {
    font-size: 14px;
    padding: 13px 20px;
  }
}
#commentform .form-allowed-tags,
#commentform .form-allowed-tags code,
#commentform .comment-notes {
  font-size: 0.8em;
  color: #999;
}
#commentform .logged-in-as {
  font-size: 0.8em;
  color: #999;
  margin-bottom: 10px;
  text-align: right;
}
@media (max-width: 680px) {
  #commentform .logged-in-as {
    font-size: 13px;
  }
  .contact-form-address {
    float: none !important;
}
}
#commentform .required {
  color: #a40802;
}
/* Vantage Jetpack Subscription Form */
#commentform p.comment-subscription-form {
  margin-bottom: 0px;
}
#commentform p.comment-subscription-form input[type="checkbox"] {
  float: none;
  font-size: 1em;
  line-height: 1.92857em;
  vertical-align: middle;
}
#commentform p.comment-subscription-form label.subscribe-label {
  font-size: 1em;
  float: none;
  line-height: 1.92857em;
  font-weight: normal;
  margin: 0;
  padding-left: 10px;
  width: auto;
}
#commentform p.form-submit {
  margin-bottom: 2em;
}
@media (max-width: 480px) {
  body.responsive #commentform label {
    float: none;
    width: 100%;
    margin-bottom: 3px;
  }
  body.responsive #commentform input,
  body.responsive #commentform textarea {
    float: none;
    width: 100%;
  }
  input {
    max-width: 100%;
}
textarea {
    max-width: 100%;
}
#recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
}
#secondary aside {
width: 95% !important;
margin-bottom: 15px !important;
text-align: center;float: none !important;
}
}
/* =Sidebars and Asides
----------------------------------------------- */
#colophon {
  margin-bottom: 20px;
  background: #fff;
  padding: 30px;
}
#colophon #theme-attribution,
#colophon #site-info {
  text-align: center;
  margin-top: 25px;
  color: #aaaaaa;
  font-size: 11.5px;
}
#colophon #theme-attribution a,
#colophon #site-info a {
  color: #dddddd;
  text-decoration: none;
  font-weight: 500;
}
body.layout-full {
  /* Use the same color as the footer */
  background-color: #2f3033;
}
.layout-full #colophon {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
#scroll-to-top {
  position: fixed;
  bottom: 105px;    
  right: 20px;
  background: #000000;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#scroll-to-top .vantage-icon-arrow-up {
  font-size: 18px;
  display: block;
  width: 18px;
  height: 18px;
  color: #ffffff;
}
#scroll-to-top.displayed {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 0.2 !important;
  z-index: 500;
}
#scroll-to-top.displayed:hover {
  opacity: 0.8 !important;
}
#map-canvas img,
#gmap_canvas img {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  line-height: normal !important;
  max-width: none;
  zoom: normal !important;
}
/* Entry Meta */
.updated {
  display: none;
}
.page .entry-meta {
  display: none;
  /* Hide entry meta on pages */
}
.page .panel-grid-cell .entry-meta {
  display: block;
  /* Display entry meta on pages if within a Page Builder cell (Post Loop widget) */
}
/* The Page Setting related layout changes */
.page-layout-no-masthead-margin #main {
  padding-top: 0;
}
.page-layout-no-footer-margin #main {
  padding-bottom: 0;
}
:not(.not-default-page).page-layout-no-sidebar #primary {
  width: 100%;
}
:not(.not-default-page).page-layout-full-width.layout-full #page-wrapper .full-container {
  max-width: 100%;
}
:not(.not-default-page).page-layout-full-width.layout-full #primary {
  width: 100%;
}
:not(.not-default-page).page-layout-full-width-sidebar.layout-full #page-wrapper .full-container {
  max-width: 100%;
}
:not(.not-default-page).page-layout-full-width.layout-boxed #primary {
  width: 100%;
}
:not(.not-default-page).page-layout-full-width-sidebar.layout-boxed #page-wrapper,
:not(.not-default-page).page-layout-full-width.layout-boxed #page-wrapper {
  width: 100%;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1100px) {
  :not(.not-default-page).page-layout-full-width-sidebar.layout-boxed #page-wrapper,
  :not(.not-default-page).page-layout-full-width.layout-boxed #page-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}
/* =Sliders
----------------------------------------------- */
/* Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Necessary Styles */
.flexslider {
  margin: 0;
  padding: 0;
  zoom: 1;
  position: relative;
}
.flexslider .slides {
  list-style: none;
  zoom: 1;
}
.flexslider .slides:before {
  content: '';
  display: block;
}
.flexslider .slides:after {
  content: '';
  display: table;
  clear: both;
}
.flexslider .slides > img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.flexslider .slides p img {
  width: auto;
  display: inline-block;
}
.flexslider .slides .flex-caption {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
}
.flexslider .slides .flex-caption h3 {
  color: inherit;
  margin: 0;
  line-height: 1.25em;
  font-size: 15px;
}
.flexslider .slides > li {
  margin-left: 0;
  display: none;
  -webkit-backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  /* Stuff specific to metaslider */
}
.flexslider .slides > li .content img {
  max-width: 100%;
  height: auto !important;
}
.flexslider .flex-control-paging {
  list-style: none;
  position: absolute;
  bottom: 15px;
  right: 0px;
  text-align: right;
  padding: 0 30px;
  z-index: 20;
}
.flexslider .flex-control-paging li {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-indent: -99999px;
  text-align: left;
  width: 14px;
  height: 14px;
  margin-right: 2px;
}
.flexslider .flex-control-paging li a {
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: url(images/sprites/slide-indicator-inactive.png);
}
.flexslider .flex-control-paging li a.flex-active {
  background: url(images/sprites/slide-indicator-active.png);
}
.flexslider .flex-control-paging li a:hover {
  background: url(images/sprites/slide-indicator-inactive.png);
}
.flexslider .flex-direction-nav {
  list-style: none;
}
.flexslider .flex-direction-nav li {
  margin: 0;
  padding: 0;
}
.flexslider .flex-direction-nav li a {
  z-index: 200;
  display: block;
  position: absolute;
  top: 50%;
  text-indent: -99999px;
  width: 32px;
  height: 85px;
  margin-top: -52px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.flexslider .flex-direction-nav li a.flex-prev {
  left: 0;
  background: url(images/sprites/gallery-prev.png);
}
.flexslider .flex-direction-nav li a.flex-next {
  right: 0;
  background: url(images/sprites/gallery-next.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .flexslider .flex-direction-nav li a {
    background-size: 32px 85px;
  }
  .flexslider .flex-direction-nav li a.flex-prev {
    background-size: cover;
    background-image: url(images/retina/gallery-prev.png);
  }
  .flexslider .flex-direction-nav li a.flex-next {
    background-size: cover;
    background-image: url(images/retina/gallery-next.png);
  }
}
.flexslider:hover .flex-direction-nav li a {
  opacity: 0.9;
}
/* Styles for Metaslider Prebuilt */
.metaslider .msHtmlOverlay .layer .siteorigin-slider-action-button {
  display: inline-block;
  padding: 8px 46px 8px 0;
  font-weight: bold;
  background: url(slider/action.png) right center no-repeat;
}
.metaslider .msHtmlOverlay .layer .siteorigin-slider-action-button a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
#metaslider-demo .content,
.vantage-slide-with-image .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#metaslider-demo .content img,
.vantage-slide-with-image .content img {
  max-width: 100%;
  height: auto;
}
#metaslider-demo .ms-default-image,
.vantage-slide-with-image .ms-default-image {
  max-width: 100%;
  height: auto;
}
.gallery-format-slider img {
  max-width: 100%;
}
/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
  font-size: 1em;
  outline: none;
}
/* Search widget */
#searchsubmit {
  display: none;
}
.widget .searchform input {
  width: 100%;
  padding: 5px;
  outline: none;
}
.textwidget p:first-child {
  margin-top: 0;
}
.textwidget p:last-child {
  margin-bottom: 0;
}
.tagcloud a {
  text-decoration: none;
}
/* =Sidebar widget styling
----------------------------------------------- */
#secondary .widget,
#footer-widgets .widget,
#masthead-widgets .widget {
  margin-bottom: 40px;
  font-size: 13px;
  color: #5e5e5e;
}
#secondary .widget:last-child,
#footer-widgets .widget:last-child,
#masthead-widgets .widget:last-child {
  margin-bottom: 0;
}
#secondary .widget .widget-title,
#footer-widgets .widget .widget-title,
#masthead-widgets .widget .widget-title {
  font-size: 15px;
  color: #3b3b3b;
  font-weight: bold;
  margin-bottom: 15px;
}
#secondary .widget ul,
#footer-widgets .widget ul,
#masthead-widgets .widget ul,
#secondary .widget ol,
#footer-widgets .widget ol,
#masthead-widgets .widget ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#secondary .widget ul ul,
#footer-widgets .widget ul ul,
#masthead-widgets .widget ul ul,
#secondary .widget ol ul,
#footer-widgets .widget ol ul,
#masthead-widgets .widget ol ul,
#secondary .widget ul ol,
#footer-widgets .widget ul ol,
#masthead-widgets .widget ul ol,
#secondary .widget ol ol,
#footer-widgets .widget ol ol,
#masthead-widgets .widget ol ol {
  margin-left: 1em;
}
#secondary .widget ul li,
#footer-widgets .widget ul li,
#masthead-widgets .widget ul li,
#secondary .widget ol li,
#footer-widgets .widget ol li,
#masthead-widgets .widget ol li {
  padding-bottom: 7px;
}
#secondary .widget ul li a,
#footer-widgets .widget ul li a,
#masthead-widgets .widget ul li a,
#secondary .widget ol li a,
#footer-widgets .widget ol li a,
#masthead-widgets .widget ol li a {
  text-decoration: none;
}
#secondary .widget ul li ul.children,
#footer-widgets .widget ul li ul.children,
#masthead-widgets .widget ul li ul.children,
#secondary .widget ol li ul.children,
#footer-widgets .widget ol li ul.children,
#masthead-widgets .widget ol li ul.children {
  padding-top: 7px;
  margin-bottom: -7px;
}
#footer-widgets {
  zoom: 1;
  margin: 0 -5px;
  max-width: 100%;
}
#footer-widgets:before {
  content: '';
  display: block;
}
#footer-widgets:after {
  content: '';
  display: table;
  clear: both;
}
#footer-widgets .widget {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
  margin-bottom: 0;
  color: #b9b9b9;
}
#footer-widgets .widget.panel,
#footer-widgets .widget.widget_siteorigin-panels-builder {
  padding: 0;
}
#footer-widgets .widget a {
  color: #cccccc;
}
#footer-widgets .widget .widget-title {
  color: #e2e2e2;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
#masthead-widgets {
  zoom: 1;
}
#masthead-widgets:before {
  content: '';
  display: block;
}
#masthead-widgets:after {
  content: '';
  display: table;
  clear: both;
}
#masthead-widgets .widget {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  float: left;
  padding-right: 25px;
}
#masthead-widgets .widget:last-child {
  padding-right: 0;
}
#masthead-widgets .widget .widget-title {
  color: #3b3b3b;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.vertical-footer #footer-widgets .widget {
  margin-bottom: 25px;
  width: 100%;
}
.vertical-footer #footer-widgets .widget:last-child {
  margin-bottom: 0;
}
/* =General Widget Styling
----------------------------------------------- */
.widget img,
.widget iframe,
.widget object,
.widget select,
.widget input {
  max-width: 100%;
}
.widget img {
  height: auto;
}
.widget a.button {
  display: inline-block;
  padding: 9px 26px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.875em;
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 0 #000000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
  background: #107fc9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f75b8), color-stop(1, #1189da));
  background: -ms-linear-gradient(bottom, #0f75b8, #1189da);
  background: -moz-linear-gradient(center bottom, #0f75b8 0%, #1189da 100%);
  background: -o-linear-gradient(#1189da, #0f75b8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1189da', endColorstr='#0f75b8', GradientType=0);
  border-top: solid 1px #0b5587;
  border-left: solid 1px #094974;
  border-right: solid 1px #094974;
  border-bottom: solid 1px #083d61;
}
.widget .button-container.align-center {
  text-align: center;
}
.widget .button-container.align-left {
  text-align: left;
}
.widget .button-container.align-right {
  text-align: right;
}
.widget .button-container.align-full .button {
  display: block;
  text-align: center;
}
#wp-calendar {
  border: none;
  margin: 0;
}
#wp-calendar caption {
  font-weight: 600;
  text-align: right;
  padding-bottom: 0.4286em;
}
#wp-calendar th,
#wp-calendar td {
  border: none;
  padding: 0.2143em 0.2143em 0.1429em !important;
}
#wp-calendar thead th {
  text-align: center;
  padding-bottom: 0.4286em !important;
}
#wp-calendar tbody .pad {
  background: none;
}
#wp-calendar tbody td {
  background: #ddd;
  border: 0.1429em solid #fff;
  text-align: center;
}
#wp-calendar tbody td:hover {
  background: #fff;
}
#wp-calendar tbody td a {
  border-bottom: none !important;
  display: block;
  text-decoration: none;
}
#wp-calendar tbody td a:hover {
  border-bottom: none !important;
  text-decoration: none;
}
#wp-calendar tfoot #prev,
#wp-calendar tfoot #next {
  padding-top: 0.4286em !important;
}
#wp-calendar tfoot #next {
  text-align: right;
}
/* Footer Calendar styling: colors assume the original theme footer background color. */
.site-footer #wp-calendar tbody td {
  background: #434447;
  border-color: #2f3033;
}
.site-footer #wp-calendar tbody td a {
  color: #fff;
}
.site-footer #wp-calendar tbody td a:hover {
  color: #b9b9b9;
}
.site-footer #wp-calendar tfoot #prev a:hover,
.site-footer #wp-calendar tfoot #next a:hover {
  color: #fff;
}
.widget_call-to-action {
  position: relative;
  padding: 25px 30px 23px 30px;
}
.widget_call-to-action h2.cta-headline {
  margin: 0 0 0.35em 0;
  color: #333;
}
.widget_call-to-action p.cta-sub-text {
  margin: 0;
  color: #666;
}
.widget_call-to-action a.button {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -20px;
  /* This should be half the height of the button */
}

@media only screen and (min-width:768px) and (max-width:959px) {
.main-navigation ul li a { padding: 5px 10px !important;}
.main-navigation ul li { margin-top: 15px !important;}
body.responsive #masthead.masthead-logo-in-menu .logo {margin-top: 0 !important;}
 }


@media (max-width: 767px) {
.menu-mobilenav-container {
    display: block !important;
}
.menu-header-menu-container {
    display: none !important;
}
.copy-right-block div p {
    float: none !important;
    font-size: 12px;
    text-align: center;
}
#footer-widgets aside {
    width: 1;
    float: left !important;
}
 .copy-right .copy-right-block {padding: 20px 0 45px !important;}
}
/* Responsive styles for the call to action widget */
@media (max-width: 680px) {
  body.responsive .widget_call-to-action a.button {
    position: static;
    margin-top: 25px;
    display: block;
    text-align: center;
  }


}
.widget_siteorigin-list ul li {
  margin-bottom: 0.4em;
}
.widget_siteorigin-list ul li:last-child {
  margin-bottom: 0;
}
.widget_icon-text {
  font-size: 0.95em;
  text-align: center;
}
.widget_icon-text .feature-icon {
  display: inline-block;
  line-height: 0;
}
.widget_icon-text .widget-title {
  margin: 15px 0;
}
.widget_circleicon-widget {
  clear: both;
  /* A medium sized icon */
}
.widget_circleicon-widget .circle-icon-box {
  text-align: center;
  position: relative;
  /* The different icon positions */
}
.widget_circleicon-widget .circle-icon-box.circle-icon-show-box {
  border: 1px solid #dddddd;
  background: #f6f6f6;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
  box-shadow: 0 2px 2px rgba(0,0,0,0.05);
  padding: 24px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-hide-box {
  padding: 5px;
}
.widget_circleicon-widget .circle-icon-box .link-icon,
.widget_circleicon-widget .circle-icon-box .link-title {
  text-decoration: none;
  display: block;
}
.widget_circleicon-widget .circle-icon-box .circle-icon {
  position: absolute;
  background-color: #3a3b3e;
  display: inline-block;
  width: 65px;
  height: 65px;
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  border-radius: 130px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.widget_circleicon-widget .circle-icon-box .circle-icon [class^="fa fa-"] {
  display: block;
  font-size: 24px;
  width: 100%;
  height: 1em;
  text-align: center;
  color: #ffffff;
  line-height: 1.1em;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5em;
}
.widget_circleicon-widget .circle-icon-box h4 {
  color: #3b3b3b;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 0.8em;
  margin-top: 0;
}
.widget_circleicon-widget .circle-icon-box p.text {
  margin: 0;
  color: #5e5e5e;
  font-size: 13px;
  margin-bottom: 10px;
}
.widget_circleicon-widget .circle-icon-box p.text:last-child {
  margin-bottom: 0;
}
.widget_circleicon-widget .circle-icon-box a.more-button {
  display: block;
  text-decoration: none;
  color: #3b3b3b;
  font-weight: bold;
  font-size: 13px;
}
.widget_circleicon-widget .circle-icon-box a.more-button i {
  display: inline-block;
  width: 5px;
  height: 8px;
  margin-left: 3px;
  background: url(images/sprites/more-icon.png) no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .widget_circleicon-widget .circle-icon-box a.more-button i {
    background: url(images/retina/more-icon.png);
    background-size: 5px 8px;
  }
}
.widget_circleicon-widget .circle-icon-box.circle-icon-position-top {
  padding-top: 75px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-position-top .circle-icon {
  top: 0;
  left: 50%;
  margin-left: -32.5px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-position-bottom {
  padding-bottom: 75px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-position-bottom .circle-icon {
  bottom: 0;
  left: 50%;
  margin-left: -32.5px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-position-left {
  text-align: left;
  padding-left: 75px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-position-left .circle-icon {
  left: 0;
  top: 50%;
  margin-top: -32.5px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-position-right {
  text-align: left;
  padding-right: 75px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-position-right .circle-icon {
  right: 0;
  top: 50%;
  margin-top: -32.5px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium {
  /* The different icon positions */
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium .circle-icon {
  width: 81.25px;
  height: 81.25px;
  -webkit-border-radius: 162.5px;
  -moz-border-radius: 162.5px;
  border-radius: 162.5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium .circle-icon [class^="fa fa-"] {
  font-size: 36px;
  line-height: 1.1em;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium.circle-icon-position-top {
  padding-top: 91.25px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium.circle-icon-position-top .circle-icon {
  top: 0;
  left: 50%;
  margin-left: -40.625px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium.circle-icon-position-bottom {
  padding-bottom: 91.25px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium.circle-icon-position-bottom .circle-icon {
  bottom: 0;
  left: 50%;
  margin-left: -40.625px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium.circle-icon-position-left {
  text-align: left;
  padding-left: 91.25px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium.circle-icon-position-left .circle-icon {
  left: 0;
  top: 50%;
  margin-top: -40.625px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium.circle-icon-position-right {
  text-align: left;
  padding-right: 91.25px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-medium.circle-icon-position-right .circle-icon {
  right: 0;
  top: 50%;
  margin-top: -40.625px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large {
  /* The different icon positions */
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large .circle-icon {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large .circle-icon [class^="fa fa-"] {
  font-size: 44px;
  line-height: 1.1em;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large.circle-icon-position-top {
  padding-top: 110px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large.circle-icon-position-top .circle-icon {
  top: 0;
  left: 50%;
  margin-left: -50px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large.circle-icon-position-bottom {
  padding-bottom: 110px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large.circle-icon-position-bottom .circle-icon {
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large.circle-icon-position-left {
  text-align: left;
  padding-left: 110px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large.circle-icon-position-left .circle-icon {
  left: 0;
  top: 50%;
  margin-top: -50px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large.circle-icon-position-right {
  text-align: left;
  padding-right: 110px;
}
.widget_circleicon-widget .circle-icon-box.circle-icon-size-large.circle-icon-position-right .circle-icon {
  right: 0;
  top: 50%;
  margin-top: -50px;
}
.widget_headline-widget {
  text-align: center;
}
.widget_headline-widget h1 {
  padding-top: 20px;
  margin: 0;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
  color: #444444;
  letter-spacing: 1px;
}
.widget_headline-widget h3 {
  padding-bottom: 20px;
  margin: 0;
  font-size: 14px;
  color: #666666;
  font-weight: 200;
}
.widget_headline-widget .decoration {
  border-top: 1px solid #EEE;
  position: relative;
  height: 1px;
  margin: 20px 60px 20px 60px;
}
/* =Custom Menu Widget in Header Area
----------------------------------------------- */
#header-sidebar .widget_nav_menu ul.menu,
#masthead-widgets .widget_nav_menu ul.menu {
  margin: 0;
}
#header-sidebar .widget_nav_menu ul.menu > li,
#masthead-widgets .widget_nav_menu ul.menu > li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
#header-sidebar .widget_nav_menu ul.menu > li:last-child,
#masthead-widgets .widget_nav_menu ul.menu > li:last-child {
  margin-right: 0;
}
#header-sidebar .widget_nav_menu ul.menu > li > a,
#masthead-widgets .widget_nav_menu ul.menu > li > a {
  display: block;
  text-decoration: none;
  color: #555555;
  font-weight: 500;
  padding: 0.75em 0;
  line-height: 1em;
}
#header-sidebar .widget_nav_menu ul.menu > li ul.sub-menu,
#masthead-widgets .widget_nav_menu ul.menu > li ul.sub-menu {
  display: none;
  position: absolute;
  margin: 0;
  z-index: 120;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  top: 2.5em;
  left: -10px;
  background: white;
}
#header-sidebar .widget_nav_menu ul.menu > li ul.sub-menu li,
#masthead-widgets .widget_nav_menu ul.menu > li ul.sub-menu li {
  position: relative;
  list-style: none;
  width: 160px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
}
#header-sidebar .widget_nav_menu ul.menu > li ul.sub-menu li a,
#masthead-widgets .widget_nav_menu ul.menu > li ul.sub-menu li a {
  display: block;
  text-decoration: none;
  color: #777777;
}
#header-sidebar .widget_nav_menu ul.menu > li ul.sub-menu ul,
#masthead-widgets .widget_nav_menu ul.menu > li ul.sub-menu ul {
  display: none;
  top: -1px;
  left: 160px;
}
#header-sidebar .widget_nav_menu ul.menu > li > ul.sub-menu,
#masthead-widgets .widget_nav_menu ul.menu > li > ul.sub-menu {
  border-top: 2px solid #00bcff;
}
#header-sidebar .widget_nav_menu ul.menu li:hover > ul.sub-menu,
#masthead-widgets .widget_nav_menu ul.menu li:hover > ul.sub-menu {
  display: block;
}
/* =Custom Menu Widget in Footer Area
----------------------------------------------- */
#colophon .widget_nav_menu .sub-menu {
  margin-left: 0;
}
#colophon .widget_nav_menu .menu-item {
  padding-bottom: 0;
}
#colophon .widget_nav_menu .menu-item a {
  display: block;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #b9b9b9;
}
/* =Some row styling for page builder
----------------------------------------------- */
.panel-row-style {
  zoom: 1;
  margin: 0 -20px;
  padding: 25px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
.panel-row-style:before {
  content: '';
  display: block;
}
.panel-row-style:after {
  content: '';
  display: table;
  clear: both;
}
.panel-row-style .panel-row-style {
  margin: 0;
}
.panel-row-style-wide-grey,
.wide-grey.panel-row-style {
  background: #f6f6f6;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.layout-full .panel-row-style.panel-row-style-wide-grey,
.layout-full .wide-grey.panel-row-style,
.layout-full .panel-row-style.panel-row-style-full-width,
.layout-full.panels-style-force-full .panel-row-style {
  margin: 0 -1000px;
  padding: 25px 1000px 25px 1000px;
}
.layout-boxed .panel-row-style {
  padding: 25px 35px;
}
.layout-boxed .panel-row-style.panel-row-style-wide-grey,
.layout-boxed .panel-row-style .wide-grey.panel-row-style {
  margin: 0 -20px;
}
@media (max-width: 680px) {
  body.responsive.layout-boxed .panel-row-style {
    margin: 0 -35px;
    padding: 25px 35px;
  }
  body.responsive.layout-boxed .panel-row-style.panel-row-style-wide-grey,
  body.responsive.layout-boxed .panel-row-style .wide-grey.panel-row-style {
    margin: 0 -20px;
  }
}
.panel-grid-cell .flexslider {
  margin-bottom: 0;
}
/* =Styling for the Polylang widget in masthead
----------------------------------------------- */
#masthead .widget_polylang ul {
  list-style: none;
}
#masthead .widget_polylang ul li {
  display: block;
  float: left;
  margin-left: 10px;
}
.vantage-carousel-title {
  font-size: 14px;
  font-weight: bold;
  color: #3b3b3b;
  text-transform: uppercase;
  line-height: 1em;
}
.vantage-carousel-title .vantage-carousel-title-text {
  display: inline-block;
  padding-right: 15px;
}
.vantage-carousel-title a.next,
.vantage-carousel-title a.previous {
  background: #3a3a3a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  float: right;
  overflow: hidden;
  background-position: center center;
  margin-left: 2px;
  padding: 4px 4px 5px 4px;
}
.vantage-carousel-title a.next .vantage-icon-arrow-left,
.vantage-carousel-title a.previous .vantage-icon-arrow-left,
.vantage-carousel-title a.next .vantage-icon-arrow-right,
.vantage-carousel-title a.previous .vantage-icon-arrow-right {
  line-height: 10px;
  display: block;
  font-size: 8px;
  width: 8px;
  height: 8px;
  text-align: center;
}
.vantage-carousel-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
.vantage-carousel-wrapper .vantage-carousel {
  height: 200px;
  margin: 0;
  padding: 0;
  zoom: 1;
  width: 99999px;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.vantage-carousel-wrapper .vantage-carousel:before {
  content: '';
  display: block;
}
.vantage-carousel-wrapper .vantage-carousel:after {
  content: '';
  display: table;
  clear: both;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: block;
  float: left;
  margin-right: 15px;
  width: 242px;
  overflow-x: hidden;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry:last-child {
  margin-right: 0;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry .thumbnail {
  line-height: 0;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry .thumbnail a {
  display: block;
  width: 242px;
  height: 162px;
  background-size: 242px 162px;
  background-position: center center;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry .thumbnail a,
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry .thumbnail a span.overlay {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry .thumbnail a span.overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #3279bb;
  opacity: 0;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry .thumbnail a:hover {
  background-size: 272px 182px;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry .thumbnail a:hover span {
  opacity: 0.5;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry .default-thumbnail {
  display: block;
  width: 242px;
  height: 162px;
  background: #e8e8e8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e0e0), color-stop(1, #e8e8e8));
  background: -ms-linear-gradient(bottom, #e0e0e0, #e8e8e8);
  background: -moz-linear-gradient(center bottom, #e0e0e0 0%, #e8e8e8 100%);
  background: -o-linear-gradient(#e8e8e8, #e0e0e0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#e0e0e0', GradientType=0);
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry h3 {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #474747;
  margin: 10px 0 0 0;
}
.vantage-carousel-wrapper .vantage-carousel li.carousel-entry h3 a {
  text-decoration: none;
  color: inherit;
}
.vantage-carousel-wrapper .vantage-carousel li.loading {
  display: block;
  width: 242px;
  height: 162px;
  float: left;
  background: url(images/carousel-loader.gif) #f6f6f6 center center no-repeat;
  margin: 0;
}
.vantage-grid-loop {
  zoom: 1;
  margin: 0 -15px 0 -15px;
}
.vantage-grid-loop:before {
  content: '';
  display: block;
}
.vantage-grid-loop:after {
  content: '';
  display: table;
  clear: both;
}
.vantage-grid-loop article {
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: none;
}
.grid-loop-columns-2.vantage-grid-loop article {
  width: 50%;
}
.grid-loop-columns-3.vantage-grid-loop article {
  width: 33.333%;
}
.grid-loop-columns-4.vantage-grid-loop article {
  width: 25%;
}
.grid-loop-columns-5.vantage-grid-loop article {
  width: 20%;
}
.grid-loop-columns-6.vantage-grid-loop article {
  width: 16.666%;
}
.vantage-grid-loop article .grid-thumbnail {
  display: block;
  padding: 5px;
  border: 1px solid #c2c5ca;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  background: #ffffff;
  margin-bottom: 10px;
}
.vantage-grid-loop article .grid-thumbnail:hover {
  border-color: #00bafa;
  -webkit-box-shadow: 0 0 5px rgba(0,187,251,0.75);
  -moz-box-shadow: 0 0 5px rgba(0,187,251,0.75);
  box-shadow: 0 0 5px rgba(0,187,251,0.75);
}
.vantage-grid-loop article .grid-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.vantage-grid-loop article h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 0;
}
.vantage-grid-loop article h3 a {
  color: inherit;
  text-decoration: none;
}
.vantage-grid-loop article .excerpt {
  font-size: 12px;
  color: #777777;
  line-height: 1.25em;
}
.vantage-grid-loop article .excerpt p {
  margin: 0;
}
.vantage-grid-loop article a.more-button {
  display: block;
  text-decoration: none;
  color: #3b3b3b;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
}
.vantage-grid-loop article a.more-button i {
  display: inline-block;
  width: 5px;
  height: 8px;
  margin-left: 3px;
  background: url(images/sprites/more-icon.png) no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .vantage-grid-loop article a.more-button i {
    background: url(images/retina/more-icon.png);
    background-size: 5px 8px;
  }
}
.vantage-grid-loop .clear {
  clear: both;
}
.widget_siteorigin-panels-postloop h1.entry-title {
  margin-top: 0;
  margin-bottom: 0;
}
.widget_siteorigin-panels-postloop .pagination {
  margin-top: 20px;
}
@media (max-width: 640px) {
  body.responsive .vantage-grid-loop article,
  body.responsive .vantage-circleicon-loop .widget_circleicon-widget {
    width: 50%;
  }
}
@media (max-width: 480px) {
  body.responsive .vantage-grid-loop article,
  body.responsive .vantage-circleicon-loop .widget_circleicon-widget {
    float: none;
    width: 100%;
  }
  #footer-widgets aside {
    float: none !important;
}
}
.vantage-circleicon-loop {
  zoom: 1;
  margin: 0 -20px;
}
.vantage-circleicon-loop:before {
  content: '';
  display: block;
}
.vantage-circleicon-loop:after {
  content: '';
  display: table;
  clear: both;
}
.vantage-circleicon-loop .widget_circleicon-widget {
  float: left;
  clear: none;
}
.circleicon-loop-columns-2.vantage-circleicon-loop .widget_circleicon-widget {
  width: 50%;
}
.circleicon-loop-columns-3.vantage-circleicon-loop .widget_circleicon-widget {
  width: 33.333%;
}
.circleicon-loop-columns-4.vantage-circleicon-loop .widget_circleicon-widget {
  width: 25%;
}
.circleicon-loop-columns-5.vantage-circleicon-loop .widget_circleicon-widget {
  width: 20%;
}
.circleicon-loop-columns-6.vantage-circleicon-loop .widget_circleicon-widget {
  width: 16.666%;
}
.vantage-circleicon-loop .widget_circleicon-widget .circle-icon-box {
  padding-left: 20px;
  padding-right: 20px;
}
.vantage-circleicon-loop .clear {
  clear: both;
}
/* The button to display more posts. */
#infinite-handle span {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  margin: 2px 2px 2px 0;
  padding: 6px 9px 5px 9px;
  text-decoration: none;
  width: auto;
  background: #4f5355;
  border-top: solid 1px #d2d2d2;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #9f9f9f;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfdfdf), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dfdfdf, #ffffff);
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #dfdfdf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: #646464;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
#infinite-handle span:hover {
  background: #f0f0f0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0d0d0), color-stop(1, #f0f0f0));
  background: -ms-linear-gradient(bottom, #d0d0d0, #f0f0f0);
  background: -moz-linear-gradient(center bottom, #d0d0d0 0%, #f0f0f0 100%);
  background: -o-linear-gradient(#f0f0f0, #d0d0d0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#d0d0d0', GradientType=0);
  color: #606060;
}
#infinite-handle span button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#yoast-breadcrumbs,
#navxt-breadcrumbs {
  background: rgba(0, 0, 0, 0.025);
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 0.5em 0.75em;
  font-weight: 500;
  color: #474747;
}
#yoast-breadcrumbs a,
#navxt-breadcrumbs a {
  text-decoration: none;
}
.page-layout-no-masthead-margin #yoast-breadcrumbs,
.page-layout-no-masthead-margin #navxt-breadcrumbs {
  margin-top: 0;
}
@font-face {
  font-family: 'vantage-icons';
  src: url('icons/vantage-icons.eot');
  src: url('icons/vantage-icons.eot?#iefix') format('embedded-opentype'), url('icons/vantage-icons.woff') format('woff'), url('icons/vantage-icons.ttf?') format('truetype'), url('icons/vantage-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="vantage-icon-"],
[class*=" vantage-icon-"] {
  font-family: 'vantage-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vantage-icon-arrow-down:before {
  content: "\e600";
}
.vantage-icon-arrow-left:before {
  content: "\e601";
}
.vantage-icon-arrow-right:before {
  content: "\e602";
}
.vantage-icon-arrow-up:before {
  content: "\e603";
}
.vantage-icon-search:before {
  content: "\e604";
}
/* Ensure Vantage button styles don't impact JW Player buttons */
span.jwcontrols span button {
  background: initial;
  border: initial;
  border-radius: initial;
  box-shadow: initial;
  color: initial;
  font-size: initial;
  font-weight: initial;
  line-height: initial;
  padding: initial;
  text-decoration: initial;
  text-shadow: initial;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #333333;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/* Prevent iOS Safari from overriding the colors for phone numbers */
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

body.sidebar-position-left #secondary aside {
    width: 46%;
    float: left;
    min-height: 88px;
    margin: 0;
    padding: 10px;
    background-color: #F6E7E4;
    /* box-shadow: 0px 5px 15px #8c8b8b; */
    /* border-radius: 15px; */
}
.page-id-412 #secondary #flexipages-3 {
    display: none !important;
}
.page-id-412 #secondary #flexipages-2 {
    display: none !important;
}
.page-id-412 #secondary aside#email-subscribers-10 {
    float: none !important;
}
body.sidebar-position-left #secondary aside#email-subscribers-10{
	float: right;
}
#wpcf7-f194-p10-o1 .wpcf7-form-control.wpcf7-submit {
    border: 1px #333 solid;
    background: #333;
    color: #fff;
}
.home #main .full-container #primary .entry-content .home-content {
    padding: 15px;
	border-bottom: 2px #6B2E20 solid;
margin-bottom: 25px;
}
body.sidebar-position-left #secondary {
float: left;
width: 100%;
}
.home #content .entry-header {
    display: none;
}
.hha-link a:hover {
    color: #6B2E20 !important;
}
.home #content #wowslider-container1 {
    max-width: 100% !important;margin-bottom: 65px;
}
.home #main {
    padding-top: 0;
}
.home #main .full-container #primary {
    background-color: #fff;
}
.home #main .full-container #secondary {
    background-color: #fff;
}
#wowslider-container1 .ws-title {
    display: none !important;
}
.home-content h2 {
    font-size: 34px;
    margin-top: 0;font-family: Lato !important;
    color: #6B2E20;
	position: relative;line-height: 2;
}
.home-content h2::before {
    background: #1b1a1a none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    max-width: 275px;
    right: 0;
    margin: 0 auto;
}
.home-content h2::after {
background: #fff none repeat scroll 0 0;
    border: 2px solid #511010;
    border-radius: 100px;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    width: 10px;
    right: 0;
    margin: 0 auto;
    bottom: -5px;
    top: auto;
}
.since h1{position: relative;line-height: 1.5;}
.since h1::before {
    background: #1b1a1a none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    max-width: 170px;
    right: 0;
    margin: 0 auto;
}
.since h1::after {
background: #fff none repeat scroll 0 0;
    border: 2px solid #511010;
    border-radius: 100px;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    width: 10px;
    right: 0;
    margin: 0 auto;
    bottom: -6px;
    top: auto;
}
.home-content ul {
    list-style: none;margin-left: 0;
}
.home-content ul li {
font-size: 20px;
margin-bottom: 10px;
color: #333;
font-family: Lato !important;
}
.copy-right {
    background: #000;
}
.copy-right .copy-right-block {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 0;
}
.copy-right div p {
    margin: 0;
    float: left;
    color: #fff;
}
#footer-widgets .widget-title {
    color: #333 !important;
    font-size: 22px !important;
}
#footer-widgets p {
    color: #333 !important;
}
#footer-widgets ul li a{
    color: #333 !important;
}
.top-bar-line {
    background: -webkit-linear-gradient(left, #3C3C3C, #3C3C3C 50%, #6B2E20 50%, #6B2E20);
    color: #ffffff;
    padding: 5px 0 5px 0;
}
#flexipages-8 h3.widget-title {
margin-bottom: 50px !important;
font-size: 24px !important;
padding-bottom: 8px;
border-bottom: 2px #6B2E20 solid;
}
aside#flexipages-8 {
    position: relative;
}
#flexipages-8 h3.widget-title:after {
    content: "Find dental practices for sale in Iowa and Illinois.";
top: 50px;
position: absolute;
font-size: 16px !important;
left: 9px;
font-weight: 300;
}
.es_widget_form .es_lablebox {
    width: 20%;
    float: left;
}
.since {
border-bottom: 2px #6B2E20 solid;margin-bottom: 25px;
}
.since h1 {
    font-weight: normal;
    font-family: Lato !important;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    font-size: 50px;
    text-transform: capitalize;
    color: #6B2E20;
}
#email-subscribers-10 .widget-title {
font-size: 24px !important;
border-bottom: 2px #6B2E20 solid;
padding-bottom: 8px;
margin-bottom: 8px !important;
}
.since p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
    font-family: Lato !important;
    font-style: italic;
    padding: 30px 15px;
    color: #333;
}
.contact-form {
    float: left;
}
.contact-form-address {
    float: right;
}
.contact-form-address h2 {
    margin-top: 0;
}
#wpcf7-f55-p48-o1 .wpcf7-form .wpcf7-form-control.wpcf7-submit {
    border: 1px #333 solid;
    background: #333;
    color: #fff;
}
option {
    font-size: 14px;
}
ul.serviceul{
  float: left;
  position: relative;;
  margin: 0;
  padding: 0;
}
ul.serviceul li{
    background: #ededed;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 10px 0;
    padding: 5px 20px;
    position: relative;
    border-left: 3px solid #fff;
    border-color: #641C0D;text-align: left;
}
ul.serviceul-2{
  position: relative;;
  margin: 0;
  padding: 0;
}
ul.serviceul-2 li{
    background: #ededed;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 10px 0;
    padding: 5px 20px;
    position: relative;
   /* border-left: 3px solid #fff;*/
    border-color: #641C0D;
    width: 60%;
}


/*AKASH*/
aside#links-dropdown-widget-2:before {
    content: 'SEARCH';
    font-size: 24px !important;
    border-bottom: 2px #6B2E20 solid;
    padding-bottom: 8px;
    margin-bottom: 8px !important;
    width: calc(100% - 20px);
    position: absolute;
    top: 12px;
}

aside#links-dropdown-widget-2 {
    padding-top: 52px !important;
    position: relative;
}
table td {
    width: 25%;
}

/*.full-container #secondary h3.widget-title {*/
/*    font-size: 24px !important;*/
/*    border-bottom: 2px #6B2E20 solid;*/
/*    padding-bottom: 8px;*/
/*    margin-bottom: 8px !important;*/
/*}*/
.owl-stage .owl-item h5 {
    line-height: 1.5;
}.entry-content .faq-form {    border: 1px #ccc solid;    padding: 15px;    margin-bottom: 25px;}.entry-content .faq-form .form-label label span input {    width: 95%;}.entry-content .faq-form .form-label label {    width: 100% !important;}  




.login-bottom-link {
    position: fixed;
    right: 0;
    bottom: 65px;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.7019607843137254);
    z-index: 999;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px #6B2E20 solid;
    border-right: none;
}
.login-bottom-link a {
    color: #fff !important;
	text-decoration: none !important;
    font-size: 16px;
    font-weight: 600;
}
.login-bottom-link a img {
    margin-right: 5px;
    padding-right: 5px;
}
.login-bottom-link:hover {
    padding: 5px 35px 5px 50px;
    border: 1px #6B2E20 solid;
    border-right: none;
}
.login-bottom-link:hover a {
    text-decoration: none;
    color: #fff;
}
.col-ms-8.faq{
    width: 65%;
    float: left;
    padding-right: 15px;     
}
.col-ms-4.faq{
    width: 35%;
    float: left;
}
.blogfree-plugin .blog {
    margin-bottom: 15px;
}
.blogfree-plugin .blog .blog-inner-wrap-view.blog-clearfix {
    background: #f1f1f1;
    border-top: 5px #ccc solid;
    padding: 5px 15px 15px;
}
.blogfree-plugin .blog .blog-inner-wrap-view.blog-clearfix a.blog-more-link {
    color: #fff;
    border: 1px #555 solid;
}
.blogfree-plugin .blog .blog-inner-wrap-view.blog-clearfix a.blog-more-link:hover {
    background: #fff;
    color: #555;
    font-weight: 600;
}   


.home div.blog .blog-content .date-post { display: none;}
.home div.blog .blog-content .post-content-text {margin-left: 0;width: 100%;}
li.rss.menu-item {
    width: 40px;
    background: url(/wp-content/themes/vantage/images/rss-news.png) no-repeat left 15px top 28px;
}
li.rss.menu-item a {
    color: #fff;
    opacity: 0;
}
